<template>
  <!-- The div that holds the callback to see if it is visible, see vue-observe-visibility-->
  <div
    style="background-color: #fff"
    :style="{ paddingBottom: $store.state.visible ? '150px' : 0 }"
    v-observe-visibility="{
      callback: visibilityChanged,
      intersection: {
        threshold: 0.25
      }
    }"
  >
    <!-- Component to show differences between stages -->
    <difference class="mb-2"></difference>

    <!-- Simple info that changes per stage -->
    <div class="stages__infos">
      <div class="stage__info" v-for="stage in descriptions" :key="stage.id">
        <div class="stage__text">
          <h1 class="title">Werkwijze {{ stage.title.replace("Chiptuning", "") }}</h1>
          <p class="stage__description">
            {{ stage.description }}
          </p>
        </div>
        <div class="stage__image">
          <img v-if="stage.image" :src="stage.image"/>
        </div>
      </div>
    </div>
    <!-- The overview navbar that floats under the screen -->
    <!-- propogate the emit to the Quotation tool -->
    <chiptuning-overview @nextStep="$emit('nextStep')"/>
  </div>
</template>
<script>
import Difference from "./chiptuning/Difference";
import ChiptuningOverview from "./chiptuning/ChiptuningOverview";
export default {
  data() {
    return {
      stages: window.globalStages
    }
  },
  methods: {
    // Callback to set the visibiliy
    // I use the store because the ChiptuningOveriew also uses it
    visibilityChanged(isVisible, entry) {
      this.$store.commit('setVisible', isVisible);
    },
  },
  computed: {
    descriptions() {
      return this.stages.filter(stage => stage.description !== "")
    }
  },
  components: {
    Difference,
    ChiptuningOverview,
  }
}
</script>
<style lang="scss">
@import "../../sass/_variables.scss";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/mixins";
  #complete {
    padding-top: 2rem;
  }

  .stage__info {
    display: flex;
    align-items: center;

    .stage__text {
      padding: 3rem 0;
      flex: 0 0 50%;
      @include touch() {
        flex: 0 0 100%;
      }
    }
    .stage__image {
      flex: 0 0 50%;

      img {
        border-radius: 74px 0;
        object-fit: cover;
        max-height: 400px;
        overflow: hidden;
      }

      @include touch() {
        display: none;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .stage__description {
    font-weight: 300;

    @include mobile() {
      font-size: 14px;
    }
  }
</style>
