<template>
  <section class="section" :class="{'bg-blue__light': (!chiptuning || current > 0)}">
      <!-- Affix the stages for the chiptuning page -->
      <affix class="stages-wrapper" relative-element-selector="#complete" v-if="chiptuning" style="width: 100%; left: 0;" :offset="{ top: 115, bottom: 38 }" :scroll-affix="false">
        <stages></stages>
      </affix>

      <!-- Container -->
      <div class="container" id="complete">
        <div class="columns is-centered">
          <div class="column is-10">
          <!-- if first step and chiptuning is set show the chiptuning interface -->
          <chip-tuning v-if="chiptuning && !complete" @nextStep="chipStep"/>
          <!-- Else show the other tool -->
          <div ref="wrapper" id="quotation-tool" v-else-if="!complete">
            <!-- Shows the steps -->
            <div class="steps">
              <div v-for="(step, key) in steps" @click="goToStep(key)" :key="key" class="step" :class="{'is-active': key === current, 'is-past': key < current }">
                <span class="step-number">{{ key+1 }}</span> <span class="step-title">{{ step.title }}</span>
              </div>
            </div>
            <!-- Fade view -->
            <hr class="fade">
            <!-- The view -->
            <div class="view">
              <!-- Show the current step -->
              <component :is="currentStep.component" :errors="errors" />

              <!-- Show the total prices and the buttons to move through -->
              <div class="activity-labels price-summary">
                <span>Totaal</span>
                <span class="total-price">€ v.a. {{ totalPrice }},-</span>
              </div>
              <button v-if="lastStep" class="button is-primary" @click="send">{{ $t('send') }}</button>
              <button v-else-if="currentStep.title === 'Werkzaamheden' && $store.getters.checkedActivities.length < 2" class="button is-special" @click="nextStep">{{ $t('skip') }}</button>
              <button v-else class="button is-primary" @click="nextStep">{{ $t('next') }}</button>
            </div>
          </div>
          <!-- We are complete -->
          <div v-else>
            <h1 class="title">{{ complete }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Vue from "vue";
import Options from "./steps/Options";
import Activities from "./steps/Activities";
import DatePicker from "./steps/DatePicker";
import Appointment from "./steps/Appointment";
import ChipTuning from "./ChipTuning";
import Stages from "./chiptuning/Stages";
import axios from "axios";
import { Affix } from "vue-affix";
import { isMobile } from "../nav";

import VueObserveVisibility from "vue-observe-visibility";
Vue.use(VueObserveVisibility)

export default {
  data() {
    return {
      subject: '',
      steps: [
        {title: "Uw opties", component: Options},
        {title: "Werkzaamheden", component: Activities},
        {title: "Plan Afspraak", component: DatePicker},
        {title: "Uw Gegevens", component: Appointment}
      ],
      current: 0,
      complete: false,
      errors: {},
      chiptuning: window.chiptuning || false,
    }
  },
  methods: {
    // Method for chiptuning to remove the first step in the class
    chipStep() {
      this.steps.splice(0, 1);
      this.chiptuning = false;
    },
    // Set next step
    goToStep(key) {
      if (this.current > key) {
        this.current = key;
        // Push for google analytics
        dataLayer.push({
        'step': `${this.subject} ${this.currentStep.title}`,
        'event': 'afspraakStappen'
      });
      }
    },
    // Go to each next step
    nextStep() {
      // If first step and no option is selected, set error and return
      if (this.current === 0 && this.$store.getters.step1Options.length === 0 && chiptuning === false) {
        this.errors = {
          message: "U moet minimaal 1 veld kiezen"
        }
        return;
      }
      // if second step and no activity is checked (even invisible), set error and return
      if (this.current === 1 && this.$store.getters.checkedActivities.length === 0) {
        this.errors = {
          message: "U moet minimaal 1 veld kiezen"
        }
        return;
      }
      // If third step and no date is selected, set error and return
      if (this.current === 2 && this.$store.state.appointment === false) {
        this.errors = {
          message: "U moet een datum kiezen"
        }
        return;
      }

      // Errors are empty
      this.errors = {};
      // Set the view to the top of the wrapper
      this.$refs.wrapper.scrollIntoView(true);
      // Up the current step
      this.current++;

      // Push for Google Analytics
      dataLayer.push({
        'step': `${this.subject} ${this.currentStep.title}`,
        'event': 'afspraakStappen'
      });
    },
    send() {
      // Set up the request object for the server
      const requestObject = {
        _token: window.csrfToken,
        options: this.$store.getters.step1Options,
        activities: this.$store.getters.checkedActivities,
        request_date: this.$store.state.appointment,
        carData: {
          ...this.$store.state.carData,
          vehicle_model: window.selectorModel,
          vehicle_brand: window.selectorBrand
        },
        contact: {
          ...this.$store.state.personData,
          title: this.$store.state.title
        },
        quote: this.$store.state.quote,
        replacement_transport: this.$store.state.replacement
      }

      // Send and handle the response
      axios.post('/!/carsys/appointment', requestObject).then(response => {
        window.location.href = `/offerteaanvraag?subject=${window.slugSubject}`;
      }).catch(error => {
        console.log(error);
        if (error.response.status === 422) {
          this.errors = error.response.data;
        }
      });
    },
  },
  created() {
    // Set Activities from the Window Options and Activities
    // See the script tag in chiptuning.html/automaat-spoelen.html
    this.$store.commit('setActivities', [...window.quotationOptions, ...window.quotationActivities]);

    // Get the carsys available dates and set
    axios.get('/!/carsys/index').then(({ data }) => {
        this.$store.commit('setStates', data);
    });
    // Get the designated replacements for the customer to choose
    axios.get('/!/carsys/replacements').then(({ data }) => {
      this.$store.commit('setReplacements', data);
    })

    // check an option
    this.$store.commit('addToChecked', window.globalStages[0].id);

    // get the first checked activity and set the subject
    this.subject = this.$store.getters.activities.find(activity => activity.id === this.$store.getters.checkedActivities[0]).title;
    // GA
    window.dataLayer.push({
      'step': `${this.subject} ${this.currentStep.title}`,
      'event': 'afspraakStappen'
    });
  },
  computed: {
    // Check for last Step
    lastStep() {
      return this.steps.length -1 === this.current;
    },
    // get the current step
    currentStep() {
      return this.steps[this.current];
    },
    // Get the total price
    totalPrice() {return this.$store.getters.totalPrice},
    // Get the options for the step data
    stepData() {
      return {
        options: this.options
      }
    },
  },
  components: {
    Affix,
    Options,
    Activities,
    ChipTuning,
    Stages
  }
}
</script>