<template>
  <!-- Simple component to show the data and handle a click -->
  <label class="activity" :class="{'is-disabled': option.auto_selected, 'is-selected': value}">
      <div class="activity-title">
        <input type="checkbox" :disabled="option.auto_selected" :value="option.id" v-model="value">
        <div class="activity-checkbox">
            <span class="icon" v-show="value">
              <svg><use xlink:href="/site/themes/transtune/img/icons.svg#done" /></svg>
            </span>
        </div>
        <span class="activity-text">
          {{ option.title }}
        </span>
      </div>
      <!-- The price -->
      <div class="activity-price">
        <span v-if="option.price !== false">€ <span v-if="startingFrom">Vanaf</span> {{ option.price }},-</span>
        <span v-else>{{ quoteLabel }}</span>
      </div>
    </label>
</template>
<script>
import { isMobile } from  "../../nav"
export default {
  props: {
    option: {
      type: Object,
      required: true,
    },
    startingFrom: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    quoteLabel() {
      // shorter, shorter, mand
      return (isMobile) ? 'Offerte' : 'Vraag offerte aan';
    },
    value: {
      get() {
        return this.$store.state.checked.indexOf(this.option.id) > -1 || this.option.included === true;
      },
      set(val) {
        const mutation = val ? 'addToChecked' : 'removeFromChecked';

        this.$store.commit(mutation, this.option.id);
        if (this.option.price === false) {
          this.$store.commit('setQuote', true);
        }

        // Emit a clicked option for further handling by the wrapper component
        // Like when you can only use a single option
        this.$emit('clicked', this.option.id);
      }
    }
  },
}
</script>
