<template>
  <div class="form">
    <!-- Form Section -->
    <div class="form-section">
      <!-- Car data -->
      <h1 class="title">Gegevens van uw Auto</h1>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field" v-for="(carData, key) in $store.state.carData" :key="key">
            <div class="control" v-if="typeof carData === 'boolean'">
              <label class="checkbox transtune">
                <input type="checkbox" :checked="carData" @input="updateData('setCarData', key, $event.target.checked)">
                <span class="icon"><svg><use xlink:href="/site/themes/transtune/img/icons.svg#done"></use></svg></span>
                {{ $tc('carData.' + key, 1) }}
              </label>
            </div>
            <label class="label" v-else>
              {{ $tc('contact.' + key, 1) }}
              <div class="control">
                <input type="text" class="input" :class="{'is-danger': errors.hasOwnProperty('carData.' + key)}" :maxlength="$store.state.carData.foreign === false ? 6 : 99" :value="carData" @input="updateData('setCarData', key, $event.target.value)" :placeholder="$store.state.carData.foreign === false ? $tc('carData.' + key, 2) : $tc('contact.' + key, 2)">

                <span class="help is-danger" v-if="errors.hasOwnProperty('carData.' + key)">
                  {{ $store.state.carData.foreign === false ? $tc('carData.' + key, 2) : $tc('contact.' + key, 1) }} {{ $t('required') }}
                </span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section">
      <!-- Personal data -->
      <h1 class="title">Uw persoonlijke gegevens</h1>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">{{ $tc('contact.title') }}</label>
        </div>
        <div class="field-body">
            <div class="control">
              <label class="radio">
                <input type="radio" name="title" value="Dhr." v-model="title">
                Dhr.
              </label>
              <label class="radio">
                <input type="radio" name="title" value="Mevr." v-model="title">
                Mevr.
              </label>
              <span class="help is-danger" v-if="errors.hasOwnProperty('contact.title')">{{ $t('contact.title') }} {{ $t('required') }}</span>
            </div>
        </div>
      </div>
      <!-- More personal data -->
      <div class="field is-horizontal max-2">
        <div class="field-body">
          <div class="field" v-for="(personData, key) in $store.state.personData" :key="key">
            <label class="label">
              {{ $tc('contact.' + key, 1) }}
              <div class="control">
                <input type="text" class="input" :class="{'is-danger': errors.hasOwnProperty('contact.' + key)}" :value="personData" @input="updateData('setPersonData', key, $event.target.value)" :placeholder="$tc('contact.' + key, 2)">
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- Replacement Transport -->
    <div class="form-section">
      <h1 class="title">Overige</h1>
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">{{ $tc('contact.replacement') }}</label>
          <span class="help is-danger" v-if="errors.hasOwnProperty('replacement_transport')">{{ $tc('contact.replacement') }} {{ $t('required') }}</span>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <label class="radio" v-for="replacement in $store.state.replacements" :key="replacement.uuid">
                <input type="radio" name="replacement" :value="replacement.uuid" v-model="selectedReplacement">
                {{ replacement.title }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- Quote
       -->
      <div class="field">
        <div class="control">
          <label class="checkbox transtune">
            <input type="checkbox" :checked="$store.state.quote" @input="$store.commit('setQuote', $event.target.checked)">
            <span class="icon"><svg><use xlink:href="/site/themes/transtune/img/icons.svg#done"></use></svg></span>
            {{ $t('quote') }}?
          </label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    errors: Object,
  },
  computed: {
    // Getters and setters
    selectedReplacement: {
      get() {
        return this.$store.state.replacement
      },
      set(value) {
        this.$store.commit('setReplacement', value);
      }
    },
    title: {
      get() {
        return this.$store.state.title
      },
      set(value) {
        this.$store.commit('setTitle', value);
      }
    }
  },
  methods: {
    // Update function when a person chooses
    updateData(mutationType, field, value) {
      if (field === 'license' && !this.$store.state.carData.foreign) {
        value = this.formatLicense(value).value;
      }

      this.$store.commit(mutationType, {
        type: field,
        data: value
      })
    },

    // License formatter for dutch cars
    formatLicense(licencePlate) {
      licencePlate = licencePlate.replace(/-/g, '').toUpperCase();
      let foreign = true;

      // licencePlates for diplomates should not be formatted
      const diplomateLicencePlateRegex = /^CD[ABFJNST]\d{1,3}$/; //for example: CDB1 of CDJ45
      if (licencePlate.match(diplomateLicencePlateRegex)) {
          return { value: licencePlate, foreign: false};
      }

      const licencePlateRegexes = [
          /^([A-Z]{2})(\d{2})(\d{2})$/,       // 1     XX-99-99    (since 1951)
          /^(\d{2})(\d{2})([A-Z]{2})$/,       // 2     99-99-XX    (since 1965)
          /^(\d{2})([A-Z]{2})(\d{2})$/,       // 3     99-XX-99    (since 1973)
          /^([A-Z]{2})(\d{2})([A-Z]{2})$/,    // 4     XX-99-XX    (since 1978)
          /^([A-Z]{2})([A-Z]{2})(\d{2})$/,    // 5     XX-XX-99    (since 1991)
          /^(\d{2})([A-Z]{2})([A-Z]{2})$/,    // 6     99-XX-XX    (since 1999)
          /^(\d{2})([A-Z]{3})(\d{1})$/,       // 7     99-XXX-9    (since 2005)
          /^(\d{1})([A-Z]{3})(\d{2})$/,       // 8     9-XXX-99    (since 2009)
          /^([A-Z]{2})(\d{3})([A-Z]{1})$/,    // 9     XX-999-X    (since 2006)
          /^([A-Z]{1})(\d{3})([A-Z]{2})$/,    // 10    X-999-XX    (since 2008)
          /^([A-Z]{3})(\d{2})([A-Z]{1})$/,    // 11    XXX-99-X    (since 2015)
          /^([A-Z]{1})(\d{2})([A-Z]{3})$/,    // 12    X-99-XXX
          /^(\d{1})([A-Z]{2})(\d{3})$/,       // 13    9-XX-999
          /^(\d{3})([A-Z]{2})(\d{1})$/,       // 14    999-XX-9
          /^(\d{3})(\d{2})([A-Z]{1})$/,       //       999-99-X
          /^([A-Z]{3})(\d{2})(\d{1})$/,       //       XXX-99-9
          /^([A-Z]{3})([A-Z]{2})(\d{1})$/,    //       XXX-XX-9
      ];

      for (let i in licencePlateRegexes) {
          if (licencePlate.match(licencePlateRegexes[i])) {
              foreign = false;
              licencePlate = licencePlate.replace(licencePlateRegexes[i], "\$1-\$2-\$3");
          }
      }
      return {value: licencePlate, foreign};
    }
  }
}
</script>
