<template>
  <!-- Simple overview to show what has been chosen -->
  <div class="overview-wrapper">
    <h1 class="overview-title">{{ title }}</h1>
    <ul class="overview-items" v-if="items">
      <li class="overview-item" v-for="item in storeItems" :key="item.id">{{ item.title }}</li>
    </ul>
    <div class="overview-item" v-if="item">
      {{ item }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    items: Array,
    item: String
  },
  computed: {
    storeItems() {
      return this.$store.state.activities.filter(activity => this.items.includes(activity.id));
    }
  }
}
</script>
