<template>
  <div class="chiptuning-overview" :class="{'is-fixed': $store.state.visible}">
    <div class="chiptuning-container">
      <difference :small="true" />
      <div class="overview-confirmation">
        <span class="overview__title">
          <!-- Remove the Chiptuning before the Stage if it is visible -->
          {{ selectedStage.title.replace("Chiptuning", "").toUpperCase() }}
        </span>
        <span class="overview__price">
          € {{ selectedStage.price }},-
        </span>
      </div>
      <div class="overview__button">
        <!-- Go the next step and remove the chiptuning specific view -->
        <button class="button is-green" @click="$emit('nextStep')">Offerte/Afspraak</button>
      </div>
    </div>
  </div>
</template>
<script>
import Difference from "./Difference";
export default {
  components: {
    Difference
  },
  computed: {
    selectedStage() {
      return window.globalStages.filter(value => -1 !== this.$store.getters.checkedActivities.indexOf(value.id))[0];
    }
  },
}
</script>
<style lang="scss">
@import "../../../sass/_variables.scss";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/mixins";
  .chiptuning-overview {
    background-color: $blue-dark;
    color: rgba($white, 0.4);
    border-top-left-radius: 24px;
    padding: 1rem;

    @include tablet() {
      padding: 2rem;
    }

    &.is-fixed {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 5;
    }

    @include touch() {
      .difference-small {
        display: none;
      }
    }
  }

  .chiptuning-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    @include desktop() {
      max-width: $desktop - (2 * $gap);
    }
    @include widescreen() {
      max-width: $widescreen - (2 * $gap);
    }
    @include fullhd() {
      max-width: $fullhd - (2 * $gap);
    }
    @include mobile() {
      flex-direction: column;
    }
  }

  .overview-confirmation {
    margin-left: auto;
    margin-right: auto;

    @include mobile() {
      margin-bottom: 0.5rem;
    }

    @include desktop() {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      margin: 0 1rem;
    }

    @include widescreen() {
      margin-right: 2rem;
    }

    @include tablet-only() {
      display: flex;
      min-width: 10rem;
      align-items: center;
      flex-direction: column;
    }
  }

  .overview__title {
    font-weight: 500;
    font-style: italic;
    margin: 0.25rem;

    @include tablet() {
      font-size: $size-4;
    }
  }

  .overview__price {
    margin: 0.25rem;
    font-weight: 700;
    font-style: italic;
    font-size: $size-4;
    color: $white;
  }
</style>
