<template>
  <!-- Mobile and small viewport -->
  <div v-if="small" class="difference-small">
    <div class="difference-row" v-if="hp_before !== 0">
      <div class="difference-subject">Vermogen <span class="difference-helper">voor en na </span></div>
      <div class="difference-value">
        <ICountUp
          :endVal="hp_before"
          :options="options"
        />
        &nbsp;PK
      </div>
      <div class="difference-value">
        <ICountUp
          :endVal="selectedStage.horse_power"
          :options="options"
        />
        &nbsp;PK
      </div>
    </div>
    <div class="difference-row" v-if="torque_before">
      <div class="difference-subject">Koppel <span class="difference-helper">voor en na </span></div>
      <div class="difference-value">
        <ICountUp
          :endVal="torque_before"
          :options="options"
        />
        &nbsp;Nm
      </div>
      <div class="difference-value">
        <ICountUp
          :endVal="selectedStage.torque"
          :options="options"
        />
        &nbsp;Nm
      </div>
    </div>
  </div>
  <!-- Big wide difference calc -->
  <div v-else v-observe-visibility="{
      callback: visibilityChanged,
      intersection: {
        threshold: 1
      }
    }">
    <h3 class="subtitle">Het verschil</h3>
    <h2 class="title">Na een {{ selectedStage.title }} behalen wij:</h2>
    <transition name="animated fadeInUp duration-2s">
      <!-- Table build with flex -->
      <div class="difference-table">
        <!-- Header -->
        <div class="difference-labels">
          <div class="difference-label">Standaard</div>
          <div class="difference-label difference-new">{{ selectedStage.title }}</div>
          <div class="difference-label">Winst</div>
        </div>

        <!-- First row -->
        <div class="difference-row" v-if="hp_before !== 0">
          <!-- TH -->
          <div class="difference-subject">Vermogen</div>
          <!-- TD -->
          <div class="difference-value">
            <ICountUp
              :endVal="hp_before"
              :options="options"
               v-if="visible"
            />
            &nbsp;PK
          </div>
          <!-- TD -->
          <div class="difference-value">
            <ICountUp
              :endVal="selectedStage.horse_power"
              :options="options"
               v-if="visible"
            />
            &nbsp;PK
          </div>
          <!-- TD -->
          <div class="difference-value difference-new">
            <ICountUp
              :endVal="selectedStage.horse_power - hp_before"
              :options="options"
               v-if="visible"
            />
            &nbsp;PK
          </div>
        </div>
        <!-- second row -->
        <div class="difference-row" v-if="torque_before">
          <!-- TH -->
          <div class="difference-subject">Koppel</div>
          <!-- TD -->
          <div class="difference-value">
            <ICountUp
              :endVal="torque_before"
              :options="options"
               v-if="visible"
            />
            &nbsp;Nm
          </div>
          <!-- TD -->
          <div class="difference-value">
            <ICountUp
              :endVal="selectedStage.torque"
              :options="options"
               v-if="visible"
            />
            &nbsp;Nm
          </div>
          <!-- TD -->
          <div class="difference-value difference-new">
            <ICountUp
              :endVal="selectedStage.torque - torque_before"
              :options="options"
               v-if="visible"
            />
            &nbsp;Nm
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import ICountUp from 'vue-countup-v2';
  export default {
    props: {
      small: {
        type: Boolean,
        default: false
      }
    },
    components: {ICountUp},
    data() {
      return {
        hp_before: window.chiptuning_hp_before,
        torque_before: window.chiptuning_torque_before,
        // Options for the iCountUp
        options: {
          useEasing: true,
          useGrouping: true,
          duration: 4,
          separator: ',',
          decimal: '.',
          prefix: '',
          suffix: ''
        },
        // Watches his visibility to trigger the animation
        visible: false,
      }
    },
    methods: {
      // callback
      visibilityChanged(isVisible, entry) {
        // only set once
        if (this.visible !== true) {
          this.visible = isVisible;
        }
      }
    },
    computed: {
      selectedStage() {
        return window.globalStages.filter(value => -1 !== this.$store.getters.checkedActivities.indexOf(value.id))[0];
      }
    },
  }
</script>