<template>
  <ul class="stages">
    <li
      v-for="stage in stages"
      @click="changeStage(stage.id)"
      :key="stage.id"
      :class="{'selected': $store.getters.checkedActivities.includes(stage.id)}"
      class="stage"
    >
      <div class="stage-picker">
        <input type="radio" class="stage-input" :checked="$store.getters.checkedActivities.includes(stage.id)">
      </div>
      <div class="stage-content">
        <span class="stage-title"> {{ stage.title.replace("Chiptuning ", "") }} </span>
        <span class="stage-price">€ {{ stage.price }},-</span>
      </div>
    </li>
  </ul>
</template>
<script>
export default {
  data() {
    return {
      stages: window.globalStages
    }
  },
  methods: {
    // Change state
    changeStage(stage) {
      const stages = this.$store.getters.checkedActivities;
      // Remove all stages
      stages.forEach(oldStage => {
        this.$store.commit('removeFromChecked', oldStage);
      })
      // Add the checked
      this.$store.commit('addToChecked', stage);
    }
  }
}
</script>
<style lang="scss">
@import "../../../sass/_variables.scss";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/sass/utilities/mixins";

  .stages-wrapper {
    background-color: $blue-light;
    &.affix-bottom {
      top: 0!important;
    }
  }
  .affix {
    z-index: 1;
    top: 0!important;
    + #complete {
      padding-top: 128px;
    }

    .stages {
      margin: 0 auto!important;
    }
  }
  .stages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @include desktop() {
      max-width: $desktop - (2 * $gap);
      width: $desktop - (2 * $gap);
    }
    @include widescreen() {
      max-width: $widescreen - (2 * $gap);
      width: $widescreen - (2 * $gap);
    }
    @include fullhd() {
      max-width: $fullhd - (2 * $gap);
      width: $fullhd - (2 * $gap);
    }
  }
  .stage {
    padding-left: 10px;
    color: $primary;
    padding: 1rem;
    display: flex;
    flex: 1 0 auto;
    @include tablet() {
      justify-content: space-between;
    }

    @include mobile() {
      flex-wrap: wrap;
      width: 50%;
    }

    @include tablet() {
      padding: 2rem;
    }

    .stage-title {
      font-size: $size-5;
      font-weight: 700;
      font-style: italic;
      text-align: center;
      text-transform: uppercase;
      height: 2rem;
      flex: 1 0 auto;

      @include tablet() {
        font-size: $size-4;
      }
    }

    .stage-picker {
      display: flex;
      align-items: center;
    }

    .stage-input {
      width: 1.2rem;
      height: 1.2rem;
    }

    .stage-content {
      display: flex;
      flex-wrap: wrap;
      flex: 1 0 auto;
    }

    .stage-price {
      text-align: center;
      height: 2rem;
      @include mobile() {
        flex: 0 0 100%;
      }
    }

    &.selected {
      color: $white;
      background-color: $primary;

      box-shadow: 0 3px 7px 3px rgba(42, 122, 254, 0.4);
      @include tablet() {
        transform: scale(1.05);
      }
    }
  }
</style>