<template>
    <div class="vuedp-date-picker">
      <label class="label" v-if="label">
        {{ label }}
        <input
            :type="inline ? 'hidden' : 'text'"
            name="vuedp-date-picker-input"
            :value="formattedValue"
            @click.stop.prevent="showCalendar"
            :class="inputClass"
            readonly
        >
      </label>
        <div class="vuedp-date-picker__calendar" ref="calendar" v-show="!collapsed">
            <!--I want to reuse the header and not repeat it-->
            <header class="date-picker-nav">
                <button
                    v-show="minMonth"
                    @click="previousMonth"
                    class="date-picker-nav__prev">
                    <span class="sr-only">previous month</span>
                </button>
                <button class="button"
                    @click="showMonthCalendar">
                    {{ displayMonth }} {{ displayYear }}
                </button>
                <button
                    v-show="maxMonth"
                    @click="nextMonth"
                    class="date-picker-nav__next">
                    <span class="sr-only">next month</span>
                </button>
            </header>
            <div class="weekdays">
              <span class="cell weekday" v-for="day in daysOfWeek" :key="day">
                  {{ day }}
              </span>
            </div>
            <div class="days">
              <day class="cell"
                    v-for="day in days"
                    :key="day.date"
                    :class="{
                      'last-month': day.prev,
                      'next-month': day.next
                    }"
                  :day="day"
                  @click="chooseDate"
                  :stateList="stateList()" />
            </div>
        </div>
    </div>
</template>

<script>
/*
        The property highlight and disabled should be wrappers around a state object
        So perhaps this state object should be a computed property, but also a property
    */

import moment from "moment";
import "moment/locale/nl";
import Day from "./Day.vue";

moment.locale("nl");

export default {
  name: "mwt-DatePicker",
  props: {
    inline: Boolean,
    locale: String,
    showTime: Boolean,
    sundayFirst: Boolean,
    highlight: Date,
    label: String,
    disabled: Object,
    states: Object,
    inputClass: String,
    value: [Boolean, Date],
    minDate: Date,
    maxDate: Date,
  },
  data() {
    return {
      selectedDate: this.checkDisabled(this.value) || null,
      currentDate: new Date(),
      collapsed: false
    };
  },
  computed: {
    formattedValue() {
      if (this.selectedDate) {
        return moment(this.selectedDate).format("dddd, D MMMM YYYY");
      }
      return "";
    },
    displayMonth() {
      return this.moment().format("MMMM");
    },
    displayYear() {
      return this.moment().format("YYYY");
    },
    daysOfWeek() {
      let weekdays = moment.weekdaysMin();
      if (this.sundayFirst) {
        return weekdays;
      }
      weekdays.push(weekdays.shift());
      return weekdays;
    },
    minMonth() {
      return moment(this.minDate).isBefore(this.currentDate);
    },
    maxMonth() {
      return moment(this.maxDate).isAfter(this.currentDate);
    },
    //Refactor? All three functions use the same structure and return the same object
    daysPrevMonth() {
      const startOfMonth = this.moment()
        .startOf("month")
        .toISOString();
      const range = moment(startOfMonth).diff(
        this.moment()
          .startOf("month")
          .startOf("week"),
        "days"
      );

      let days = [];
      for (let day = 1; day <= range; day++) {
        let obj = {
          date: moment(startOfMonth)
            .subtract(day, "days")
            .startOf("hour")
            .hour(17)
            .toISOString(),
          day: parseInt(
            moment(startOfMonth)
              .subtract(day, "days")
              .format("D")
          ),
          prev: true
        };

        days.push(obj);
      }

      return days.reverse();
    },
    days() {
      let days = this.daysPrevMonth;
      const range = this.moment().daysInMonth();

      for (let day = 1; day <= range; day++) {
        let obj = {
          date: this.moment()
            .date(day)
            .startOf("hour")
            .hour(17)
            .toISOString(),
          day: parseInt(
            this.moment()
              .date(day)
              .format("D")
          )
        };
        days.push(obj);
      }

      return days.concat(this.daysNextMonth);
    },
    daysNextMonth() {
      const endOfWeekMonth = this.moment()
        .endOf("month")
        .endOf("isoWeek")
        .toISOString();
      let range = moment(endOfWeekMonth).diff(
        this.moment().endOf("month"),
        "days"
      );

      let days = [];
      for (let day = 0; day !== range; day++) {
        let obj = {
          date: moment(endOfWeekMonth)
            .subtract(day, "days")
            .startOf("hour")
            .hour(17)
            .toISOString(),
          day: parseInt(
            moment(endOfWeekMonth)
              .subtract(day, "days")
              .format("D")
          ),
          next: true
        };

        days.push(obj);
      }

      return days.reverse();
    }
  },
  methods: {
    checkDisabled(dateVal) {
      if (this.states.disabled && this.states.disabled.days) {
        if (this.states.disabled.days.includes(dateVal.getDay())) {
          dateVal = moment(dateVal)
            .add(1, "week")
            .isoWeekday(1)
            .toDate();
        }
      }
      return dateVal;
    },
    showCalendar() {
      this.collapsed = !this.collapsed;
      const element = this.$refs.calendar;
      const vm = this;

      const removeEvent = () => {
        document.removeEventListener("click", addEvent);
      };
      const addEvent = e => {
        e.stopPropagation();
        if (!element.contains(e.target)) {
          this.collapsed = true;
        }
        removeEvent();
      };
      document.addEventListener("click", addEvent.bind(vm));
    },
    previousMonth() {
      this.currentDate = this.moment()
        .subtract(1, "months")
        .toISOString();
    },
    moment() {
      return moment(this.currentDate);
    },
    showMonthCalendar() {},
    stateList() {
      return {
        ...this.states,
        selectedDate: this.selectedDate
      };
    },
    nextMonth() {
      this.currentDate = this.moment()
        .add(1, "months")
        .toISOString();
    },
    chooseDate(date) {
      this.selectedDate = date;
      this.currentDate = date;

      this.$emit("input", this.selectedDate);
    }
  },
  watch: {
    value(val) {
      this.selectedDate = this.checkDisabled(val);
    }
  },
  components: {
    Day
  }
};
</script>