<template>
    <div class="field">
      <div class="control selector-search-box">
        <select class="input" v-if="select" v-model="query" @change="chooseOption($event.target.value); $emit('emptyNext', type);" @focus="focus = true; query = '';">
          <option value="" v-if="query !== '' && options.length === 0" selected>{{ query }}</option>
          <option value="" disabled>{{ type.toUpperCase() }}</option>
          <option v-for="(option, key) in options" :key="key+1" :value="option">{{ option }}</option>
        </select>
        <input v-else type="text" class="input" v-model="query" @focus="focus = true; query = '';" @blur="focus = false" :placeholder="$t('selector.' + type)">
        <slot v-if="focus" name="option-container" :options="filteredOptions" :chooseOption="chooseOption">
        </slot>
      </div>
    </div>
</template>
<script>
export default {
  props: ['value', 'options', "type", "select"],
  data() {
    return {
      focus: false,
      query: this.value || ''
    }
  },
  methods: {
    chooseOption(option) {
      this.query = option;
      this.$emit('input', option);
    },
  },
  watch: {
    query(val) {
      if (val === "" && this.value !== "") {
        this.chooseOption('');
        this.$emit('emptyNext', this.type);
      }
    },
    value(val) {
      if (val === "" && this.query !== "") {
        this.query = "";
      }
    },
    filteredOptions(val) {
      if (val.length === 1 && this.value === '') {
        this.chooseOption(val[0]);
      }
    }
  },
  computed: {
    filteredOptions() {
      return this.options.filter(option => {
        return option.toLowerCase().indexOf(this.query) > -1
      })
    },
  }
}
</script>
