{{ asset:media }}
<picture>
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="768" width="768"}}" media="(min-width: 0em) and (max-width: 39.9999em)">
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="1024" width="768"}}" media="(min-width: 40em) and (max-width: 60em) and (orientation: portrait) ">
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="768" width="1024"}}" media="(min-width: 40em) and (max-width: 60em) and (orientation: landscape) ">
  <img style="object-position: {{ focus | background-position }}" src="{{ glide:url fit="crop_focal" height="1200" width="1920"}}">
</picture>
{{ /asset:media }}
