{{ if video | is_embeddable }}
    <!-- Youtube and Vimeo -->
    <iframe style="object-position: fill" src="{{ video | embed_url }}?autoplay=1" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen autoplay></iframe>
{{ else }}
    <!-- Other HTML5 video types -->
    <video style="object-fit: fill" autoplay controls="false" src="{{ video | embed_url }}"></video>
{{ /if }}