<div class="columns is-multiline">
{{ relate:brands }}
  <div class="column is-3">
    <a class="box"  href="{{ link | get:url }}">
      <figure class="image is-square">
        <img src="{{ glide:logo height="256" width="256"}}" alt="{{ title }}">
      </figure>
    </a>
  </div>
{{ /relate:brands }}
</div>