<div class="carousel">
  <div data-glide-el="track" class="glide__track">
    <div class="glide__slides">
      {{ assets:slides }}
        <img class="glide__slide" {{ if carousel_height }} style="height: {{ carousel_height }}px;" {{ /if }} src="{{ glide:url fit='crop_focal' height='{carousel_height}' width='{carousel_width}'}}">
      {{ /assets:slides }}
    </div>
    <div class="glide__arrows" data-glide-el="controls">

      <button class="glide__arrow glide__arrow--left button is-rounded is-borderless is-large" data-glide-dir="<">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
      </svg>
    </button>
      <button class="glide__arrow glide__arrow--right button is-rounded is-borderless is-large" data-glide-dir=">">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24">
          <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>