<div class="columns is-multiline">
  {{ columns }}
    <div class="column is-6 f-column">
      {{ content }}
        {{ if type == "text" }}
          <div class="text">
            {{ text }}
          </div>
        {{ elseif type == "full_height_image" }}
          {{ asset:full_height_image }}
            <img class="full-height-image" src="{{ url }}" alt="{{ alt }}">
          {{ /asset:full_height_image}}
        {{ elseif type == 'button_link' }}
          <a href="{{link | get:url }}" class="button is-special is-outlined">{{ button_text or link | get:title }}</a>
        {{ elseif type == "carousel" }}
          {{ partial:content/carousel :slides="slides" }}
        {{ /if }}
      {{ /content }}
    </div>
  {{ /columns }}
</div>