{{ frequently }}
  <div class="toggle">
    <div class="toggle-title ">
      <h3 class="subtitle"><span class="toggle-hit">{{ question }}</span></h3>
    </div>
    <div class="toggle-body">
      <p>{{ answer }}</p>
    </div>
  </div>
{{ /frequently }}