<div class="columns is-multiline is-centered">
{{ media }}
    {{ if type === 'images' }}
      {{ assets:images }}
        <div class="column is-4">
            {{ if page }}
              <a href="{{ page | get:url}}" class="image is-square">
                  <img src="{{ glide:url fit="crop_focal" height="632" width="632"}}" alt="{{ alt }}">
              </a>
            {{ else }}
              <figure class="image is-square">
                <img src="{{ glide:url fit="crop_focal" height="632" width="632"}}" alt="{{ alt }}">
              </figure>
            {{ /if }}
        </div>
      {{ /assets:images }}
    {{ elseif type === 'video' }}
        <div class="column is-4">
            <!-- Youtube and Video -->
            {{ if video | is_embeddable }}
              <figure class="video-container is-square">
                <iframe width="640" height="360" src="{{ video | embed_url }}"></iframe>
              </figure>
            {{ else }}
              <figure class="video-container is-square">
                  <!-- Other HTML5 video types -->
                  <video width="640" height="360" src="{{ video | embed_url }}"></video>
              </figure>
            {{ /if }}
        </div>
    {{ /if}}
{{ /media }}
</div>