<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h2 class="subtitle">Automaat revisie voor</h2>
        <h1 class="title">{{ brand }} {{ title }} {{/brand}} {{ model }}</h1>
      </div>
    </div>
  </div>
</section>
<main>
  {{ partial:car/defaultQuotationPage }}
</main>
{{ section:page_scripts }}
<script>
    // Setup for quotation tool

    // Id for stage (is 1 so don't show)
  window.globalStages = [
    {{ collection:activities id:is="7210b9f8-4ed6-7008-8545-c85658fdbe01" }}
      {
        id: '{{ id }}',
        price: '{{ price }}',
        free_options: []
      }
    {{ /collection:activities }}

  ];

  // Options for user to select
        window.quotationOptions = [
    {{ transmission_revision }}{
      "title": '{{ type }}',
      "price": {{ price  or 'false' }},
      "id": 'automatic_type_option/{{ type }}',
      "type": "option",
      "auto_selected": false
    },{{ /transmission_revision }}
  ];

  // Activities for user to select
            window.quotationActivities = [
    {{ collection:activities active:isnt_strict="false"  }}{
      "title": '{{ title }}',
      "price": {{ price or 'false' }},
      "id": '{{ id }}',
      "type": "activity"
    },{{ /collection:activities}}
  ]

  // Hide option as we are on subjects page
  window.hideOption = 'revisie';

  // Options set
  window.singleOption = true;

  // Csrf token
  window.csrfToken = '{{ csrf_token }}';
</script>
<script src="{{ mix:js src='quotation' }}"></script>
{{ /section:page_scripts }}