<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9">
          <h2 class="subtitle">Chiptuning voor</h2>
          <h1 class="title">{{ brand }} {{ title }} {{/brand}} {{ model }}</h1>
        </div>
      </div>
    </div>
  </section>
  <main>
    {{ partial:car/defaultQuotationPage }}
  </main>
  {{ section:page_scripts }}
  <script>
    window.chiptuning_torque_before = {{ chiptuning_torque_before }};
    window.chiptuning_hp_before = {{ chiptuning_hp_before }};
    window.globalStages = [
    {{ chiptuning_stages }}
      {{ if !horse_power or !torque or !price }} {{ redirect to="/chiptuning-contact?brand={brand}{title}{/brand}&model={model}"}} {{ /if }}
      {
        "id": '{{ stage }}',
        "horse_power": {{ horse_power }},
        "torque": {{ torque }},
        "price": {{ price }},
        "title": {{ collection:activities id:is="{stage}" }} '{{ title }}' {{ /collection:activities }},
        "description": {{ collection:activities id:is="{stage}" }} '{{ description }}' {{ /collection:activities }},
        "image": {{ collection:activities id:is="{stage}" }} '{{ image | get:permalink }}' {{ /collection:activities }}
      },
    {{ /chiptuning_stages }}];


    const stagePrice = {
      {{ chiptuning_stages }}
       '{{ stage }}': {{ price }},
      {{ /chiptuning_stages }}
    };
    window.chiptuning = true;
    window.quotationOptions = [];
    window.quotationActivities = [
      {{ collection:activities
          active:isnt_strict="false"
          title:doesnt_contain="revisie"
          title:doesnt_contain="reparatie" }}{
        "title": '{{ title }}',
        "price": stagePrice['{{ id }}'] || false,
        "id": '{{ id }}',
        "type": "activity"
      },{{ /collection:activities}}
    ]

    window.hideOption = 'stage';
    window.csrfToken = '{{ csrf_token }}';
  </script>
  <script src="{{ mix:js src='quotation' }}"></script>
  {{ /section:page_scripts }}