<div id="quotation-tool"></div>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10">
                <p>
                    {{ trans_choice
                    key="{current_uri|segment:1}_page.{subject}"
                    slug="{slug|deslugify|title}"
                    model="{model}"
                    generation="{generation}"
                    type="{type}"
                    brand="{brand}{title}{/brand}" }}
                </p>
            </div>
        </div>
    </div>
</section>