<template>
  <div class="view-step">
    <div class="activator">
      <h2 class="subtitle tt-uppercase">Extra werkzaamheden</h2>
      <h1 class="title">Overige opties</h1>
    </div>
    <span class="help is-danger" v-if="errors">{{ errors.message }}</span>
    <div class="activity-labels">
      <span>Opties</span>
      <span>Prijs per optie</span>
    </div>
    <activity v-for="option in activities" :option="option" :startingFrom="true" :key="option.id" />
  </div>
</template>
<script>
import Activity from "../components/Activity";
export default {
  props: {
    errors: Object
  },
  data() {
    return {
      hide: window.hideOption,
    }
  },
  computed: {
    activities() {
      return this.$store.getters.activities.filter(activity => !activity.title.toLowerCase().includes(this.hide))}
  },
  components: {
    Activity
  }
}
</script>
