<template>
  <div class="view-step">
    <div class="activator">
      <h2 class="subtitle tt-uppercase">Plan online</h2>
      <h1 class="title">Waarmee kunnen wij u helpen?</h1>
    </div>
    <div class="overview">
      <div class="columns">
        <overview-item class="column" title="Gekozen Opties" :items="$store.getters.step1Options"/>
        <overview-item class="column" title="Werkzaamheden" :items="$store.getters.checkedActivities" />
        <overview-item class="column" title="Uw afspraak" :item="$store.getters.appointment" />
      </div>
    </div>
    <contact-form :errors="errors" />
  </div>
</template>
<script>
import OverviewItem from "../components/Overview";
import ContactForm from "../components/ContactForm";
export default {
  props: {
    errors: Object,
  },
  components: {
    OverviewItem,
    ContactForm
  }
}
</script>
