<template>
  <div class="view-step">
    <div class="activator">
      <h2 class="subtitle tt-uppercase">Plan online</h2>
      <h1 class="title">Waarmee kunnen wij u helpen?</h1>
    </div>
    <date-picker class="planner" v-model="appointment" :states="states" :minDate="new Date()" :maxDate="maxDate"></date-picker>
    <span class="help is-danger" v-if="errors">{{ errors.message }}</span>
  </div>
</template>
<script>
import DatePicker from "../components/DatePicker"
export default {
  props: {
    errors: Object,
  },
  components: {
    DatePicker,
  },
  computed: {
    maxDate() {
      return new Date(this.$store.state.states.max_date);
    },
    states() {
      let states = this.$store.state.states;
      if (states.unavailable) {
        states.disabled = { outside: [new Date(), this.maxDate], dates: [...states.unavailable.dates, ...states.disabled.dates]};
      }
      states.current = { dates: [new Date()]};
      return states;
    },
    appointment: {
      get() {
        return new Date(this.$store.state.appointment);
      },
      set(value) {
        this.$store.commit('setAppointment', value);
      }
    }
  }
}
</script>
