<template>
  <div class="view-step">
    <div class="activator">
      <h2 class="subtitle tt-uppercase">Bereken uw prijs</h2>
    </div>
    <span class="help is-danger" v-if="errors">{{ errors.message }}</span>
    <div class="activity-labels">
      <span>Opties</span>
      <span>Prijs per optie</span>
    </div>
    <activity v-for="option in options" :option="option" :key="option.id" @clicked="handleClick"/>
  </div>
</template>
<script>
import Activity from "../components/Activity";
import store from "../store";
export default {
  props: {
    errors: Object
  },
  data() {
    return {
      single: window.singleOption || false
    }
  },
  computed: {
    options() {
      return this.$store.getters.options;
    },
    totalPrice() {return this.$store.getters.totalPrice},
  },
  methods: {
    handleClick(itemId) {
      if (this.single) {
        // Reset all other set options and set the clicked as itemId
        this.options.forEach(option => {
          this.$store.commit('removeFromChecked', option.id);
        });
        this.$store.commit('addToChecked', itemId);
      }
    }
  },
  components: {
    Activity
  }
}
</script>
