{{ partial:hero }}
{{ if selector }}
  <div id="selector" data-subject="{{ selector }}"></div>
{{ /if }}
<main>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 content">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  {{ page_content }}
    {{ if type == 'white_background' || type == 'blue_background' }}
      <section class="section
          {{ if type == 'white_background'}} white-background
          {{ elseif type == 'blue_background' }} blue-background
          {{/if }}">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-10 content">
                {{ partial:content }}
            </div>
          </div>
        </div>
      </section>
    {{ elseif type == "info_splitter" }}
      {{ partial:split }}
    {{ /if }}
  {{ /page_content }}

  <div class="section">
    <div class="container">
      <div class="columns is-centered">
          {{ collection:team }}
          <div class="column is-4 member">
            <figure class="image profile-picture">
              <img
                style="object-position: {{ profile_picture | get:focus | background-position }}"
                src="{{ glide:profile_picture fit="crop_focal" height="500" width="500"}}" alt="{{ title }}">
            </figure>
            <h1 class="member-name">{{ title }}</h1>
            <h2 class="member-job">{{ job }}</h2>
          </div>
          {{ /collection:team }}
        </div>
      </div>
    </div>
    {{ theme:output src="img/team_member.svg" }}
  </div>
</main>
{{ section:page_scripts }}
<script src="{{ mix:js src='selector' }}"></script>
{{ /section:page_scripts }}