---
columns: 12
---
{{ if banner_size }}
  {{ partial:hero title="{ current_uri|segment:1|title }" subtitle="{slug|deslugify|title}" :banner_size="banner_size" }}
{{ else }}
  {{ partial:hero title="{ current_uri|segment:1|title }" subtitle="{slug|deslugify|title}" banner_size="is-medium" }}
{{ /if }}

<div id="selector" data-subject="{{current_uri | segment:1}}"></div>
<section>
  {{ section:meta }}
    <title>Uw {{ slug|deslugify|title }} {{ current_uri|segment:1|deslugify|title }} op Maat bij Transtune.nl!</title>
    <meta name="title" content="{{ current_uri|segment:1|deslugify|title }} {{ slug|deslugify|title }} op Maat bij Transtune.nl!" />
    <meta name="description" content=" Laat uw {{ slug|deslugify|title }} {{ trans_choice key="string.{current_uri|segment:1}" count="2" }} door onze specialisten. Bent u op zoek naar een betrouwbaar adres voor uw {{ slug|deslugify|title }} kies dan voor Transtune!">
  {{ /section:meta }}

  <!--Zie de car tag in plugins-->

{{ cars :slug="slug" partial="{current_uri|segment:1}" }}
  <!--Geen auto gevonden-->
{{ if count === 0 }}
    {{ 404 }}
  <!--1 auto gevonden (exact match)-->
  {{ elseif count === 1 && subject == 'slug' }}
    <script>
        window.selectorBrand = '{{ brand }}';
        window.selectorModel = '{{ model }}'
        window.selectorGeneration = '{{ generation }}';
        window.selectorType = '{{ type }}';
        window.slugSubject = '{{current_uri | segment:1}}';
    </script>
    {{ carCollection }}
        {{ partial src="car/{current_uri|segment:1}" }}
    {{ /carCollection }}
  <!--Meerdere auto's gevonden--> 
  {{ else }}
  <script>
      window.selectorBrand = '{{ brand }}';
      window.selectorModel = '{{ model }}'
      window.selectorGeneration = '{{ generation }}';
      window.selectorType = '{{ type }}';
  </script>
  <div class="container">
      <div class="columns is-centered is-multiline">
        <div class="column is-12 content">
          <div class="columns is-multiline">
            <div class="column is-8">
                {{ trans_choice key="{current_uri|segment:1}_page.{subject}" slug="{slug|deslugify|title}" }}
            </div>
            <div class="column is-10">
              <p></p>
              <h1 class="title">{{ trans_choice:string.choice }} {{trans_choice key="string.{subject}" }}</h1>
              <nav class="pages-links cars">
                  {{ carCollection }}
                    {{ partial:car/link }}
                  {{ /carCollection }}
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ /if }}
{{ /cars }}
</section>
<script src="{{ mix:js src='selector' }}"></script>