{{ partial:hero banner_size="is-medium" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 content">
        {{ redirect to="/chiptuning/cars/{slug}" response="301"}}
      </div>
    </div>
  </div>
</section>