<main>
  {{ content }}
  <section class="contact-form" id="contactForm">
      <div class="columns">
        <div class="column">
          <div class="section contact-section">
            {{ form:create in="chiptuning_contact" attr="class:pretty-form" }}
            <h1 class="title">{{ trans:string.contact.chiptuning }}</h1>
            {{ if get:brand or get:model }}
            <p>
              {{ trans:string.contact.chiptuning_description brand="{get:brand}" model="{get:model}" }}
            </p>
            {{ /if }}
              {{ if errors }}
              <div class="notification is-danger">
                <ul>
                  {{ errors }}
                    <li>{{ value }}</li>
                  {{ /errors }}
                </ul>
              </div>
                <div class="alert alert-danger">

                </div>
              {{ /if }}
              {{ if success }}
                {{ redirect to="/contactformulier-bedankt" }}
              {{ /if }}

              {{ fields }}
                <div class="field">
                  <label class="label">{{ trans_choice key="string.contact.{display}" }}
                    <div class="control">
                      <input type="text" name="{{ field }}" placeholder="{{ trans_choice key="string.contact.{display}" count="2" }}"
                      value="{{ if field == 'merk_model' and !old }} {{ get:brand }} {{ get:model }} {{ /if }}{{ old }}" class="input" />
                    </div>
                  </label>
                </div>
              {{ /fields }}
              <input type="text" name="chiptuning_contact" style="display: none; visibility: hidden;" />
              <button class="button is-primary">{{ trans_choice:string.contact.send }}</button>
            {{ /form:create }}
          </div>
        </div>
        <div class="column">
          <div id='map'></div>
        </div>
      </div>
  </section>
</main>