---
styles: <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
---
{{ partial:hero }}
<main>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="overview-title">Locatie</h1>
          <address class="fs-normal">Doctor Huub van Doorneweg 36A <br>
              5753 PM Deurne</address>
        </div>
        <div class="column">
          <h1 class="overview-title">Contactgegevens</h1>
          <p>{{ contact }} <br>
            {{ tel }}
          </p>
        </div>
        <div class="column">
          <h1 class="overview-title">Openingstijden</h1>
          <p>Maandag t/m vrijdag: 9:00 tot 18:00 uur <br>
              Zaterdag: 9:00 tot 13:00 uur</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
      <hr class="fade">
  </div>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12">
          <div class="overview">
            <div class="columns">
              <div class="overview-wrapper column">
                <h1 class="overview-title">Bel Ons</h1>
                <a href="tel:{{ tel }} ">{{ tel }} </a>
              </div>
              <div class="overview-wrapper column">
                <h1 class="overview-title">Mail ons</h1>
                <a href="mailto:{{ contact }}">{{ contact }}</a>
              </div>
              <div class="overview-wrapper column">
                <h1 class="overview-title">Afspraak maken</h1>
                <a href="#contactForm">Contact formulier</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ content }}
  <section class="contact-form" id="contactForm">
      <div class="columns">
        <div class="column">
          <div class="section contact-section">
            {{ form:create in="contact" attr="class:pretty-form" }}
            <h1 class="title">{{ trans:string.contact.title }}</h1>
              {{ if errors }}
              <div class="notification is-danger">
                <ul>
                  {{ errors }}
                    <li>{{ value }}</li>
                  {{ /errors }}
                </ul>
              </div>
                <div class="alert alert-danger">

                </div>
              {{ /if }}
              {{ if success }}
                {{ redirect to="/contactformulier-bedankt" }}
              {{ /if }}
              <div class="field">
                <label class="label">{{ trans_choice:string.contact.name }}
                  <div class="control">
                    <input type="text" name="name" placeholder="{{ trans_choice:string.contact.name count="2" }}" value="{{ old:name }}" class="input" />
                  </div>
                </label>
              </div>
              <div class="field">
                <label class="label">{{ trans_choice:string.contact.email }}
                  <div class="control">
                    <input type="text" name="email" placeholder="{{ trans_choice:string.contact.email count="2" }}" value="{{ old:email }}" class="input" />
                  </div>
                </label>
              </div>
              <div class="field">
                <label class="control">{{ trans_choice:string.contact.subject }}
                  <div class="control">
                    <input type="text" name="subject" placeholder="{{ trans_choice:string.contact.subject count="2" }}" value="{{ old:subject }}" class="input" />
                  </div>
                </label>
              </div>
              <div class="field">
                <label>{{ trans_choice:string.contact.message }}
                  <div class="control">
                    <textarea name="message" placeholder="{{ trans_choice:string.contact.message count="2" }}" class="textarea">{{ old:comment }}</textarea>
                  </div>
                </label>
              </div>
              <input type="text" name="contact" style="display: none; visibility: hidden;" />
              <button class="button is-primary">{{ trans_choice:string.contact.send }}</button>
            {{ /form:create }}
          </div>
        </div>
        <div class="column">
          <div id='map'></div>
        </div>
      </div>
  </section>
</main>

{{ section:page_scripts }}
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js"></script>
  <script src="{{ mix:js src='map' }}"></script>
{{ /section:page_scripts }}