{{ partial:hero }}
{{ if selector }}
  <div id="selector" data-subject="{{ selector }}"></div>
{{ /if }}
<main>
  {{ if content }}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 content">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  {{ /if }}
  {{ page_content }}
    {{ if type == 'white_background' || type == 'blue_background' }}
      <section class="section
          {{ if type == 'white_background'}} white-background
          {{ elseif type == 'blue_background' }} blue-background
          {{/if }}">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-10 content">
                {{ partial:content }}
            </div>
          </div>
        </div>
      </section>
    {{ elseif type == "info_splitter" }}
      {{ partial:split }}
    {{ /if }}
  {{ /page_content }}
</main>
{{ section:page_scripts }}
<script src="{{ mix:js src='selector' }}"></script>
{{ /section:page_scripts }}