{{ partial:hero banner_size="is-medium" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 content">
        {{ if brand and model and generation }}
          {{ collection:cars partials:contains="{current_uri|segment:1}" filter="CarsFilter" brand="{brand}" model="{model}" generation="{generation}" scope="car"}}
              {{ if no_results }}
                {{ 404 }}
              {{ else }}
                {{ partial:car/car url="{brand}{title|slugify}{/brand}-{car.model|slugify}-{car.generation|slugify}-{car.type|slugify}" :value="car.type" }}
              {{ /if }}
            {{ /collection:cars }}
        {{ elseif brand and model }}
          {{ collection:cars partials:contains="{current_uri|segment:1}" filter="CarsFilter" brand="{brand}" model="{model}" scope="car"}}
            {{ if no_results }}
              {{ 404 }}
            {{ else }}
              {{ partial:car/car url="{brand}{title|slugify}{/brand}/{car.model|slugify}/{car.generation|slugify}" :value="car.generation" }}
            {{ /if }}
          {{ /collection:cars }}
        {{ elseif brand }}
          {{ collection:cars partials:contains="{current_uri|segment:1}" filter="CarsFilter" brand="{brand}" scope="car"}}
            {{ if no_results }}
              {{ 404 }}
            {{ else }}
              {{ partial:car/car url="{brand}{title|slugify}{/brand}/{car.model|slugify}" :value="car.model" }}
            {{ /if }}
          {{ /collection:cars }}
        {{ /if }}
      </div>
    </div>
  </div>
</section>