<main class="home-slider">
  <div id="home__glide">
    <div data-glide-el="track" class="glide__track">
      <div class="glide__slides">
        {{ items }}
        <figure class="glide__slide">
          {{ if is_video }}
            {{ partial src="media/video" }}
          {{ else }}
            {{ partial src="media/image" }}
          {{ /if }}
        </figure>
        {{ /items }}
      </div>
    </div>
  </div>
  <div class="glide__content">
    {{ items }}
      <a class="glide__item" data-glide-item="{{ key }}" href="{{ page | get:url }}">
        <h2 class="glide__subtitle">{{ cta_title }}</h2>
        <progress class="progress glide__countdown" data-glide-countdown="{{ key }}" value="0" max="100"></progress>
        <h1 class="glide__title">{{ page | get:title }}</h1>
      </a>
    {{ /items }}
  </div>
</main>