<main>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 content">
          <figure class="404">
            <img src="{{ theme:img src="car-404-not-found.jpg" }}" alt="{{ trans:string.page_not_found }}">
            <figcaption>
                {{ trans:string.page_not_found }}
            </figcaption>
          </figure>
          <h1 class="is-hidden">{{ trans:string.page_not_found }}</h1>
        </div>
      </div>
    </div>
  </section>
</main>
{{ section:page_scripts }}
<script src="{{ mix:js src='selector' }}"></script>
{{ /section:page_scripts }}