<template>
  <div id="selector">
    <div class="container">
      <div class="searches">
        <div class="field is-horizontal">
          <div class="field-body">
            <search-box
              v-for="(param, key) in Object.keys(searchParams)"
              :key="param"
              :type="param"
              :options="getOptionsForParam(param)"
              v-model="searchParams[param]"
              @emptyNext="emptyNextParams"
              :select="isMobile"
              :class="{'is-hidden-mobile': (Object.values(searchParams)[key -1] === '')}"
            >
              <ul v-if="!isMobile" class="selector-search-results" slot="option-container" slot-scope="{ options, chooseOption }">
                <li v-for="option in options" :key="option" @mousedown="chooseOption(option)">{{ option }}</li>
              </ul>
            </search-box>
            <div class="control">
              <a :href="goToResult" :disabled="disabled" @click="move(1, $event)" ref="button1" class="button is-medium is-special is-outlined">
                <p class="saving" v-if="moving === 'button1'">
                  <span>.</span><span>.</span><span>.</span>
                </p>
                <template v-else>
                  {{ $t('selector.info') }}
                </template>
              </a>
              <a :href="goToResult" :disabled="disabled" @click="move(2, $event)" ref="button2" class="button is-medium is-primary">
                <p class="saving" v-if="moving === 'button2'">
                  <span>.</span><span>.</span><span>.</span>
                </p>
                <template v-else>
                  {{ $t('selector.action') }}
                </template>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Create an app that filters a collection based on the given key.
import SearchBox from "./components/SearchBox";
import axios from 'axios';
import { isMobile } from '../nav.js';
export default {
  name: 'selector',
  data() {
    return {
      subject: this.$parent.subject,
      objects: [],
      searchParams: {
        "brand": window.selectorBrand || "",
        "model": window.selectorModel || "",
        "generation": window.selectorGeneration|| "",
        "type": window.selectorType || ""
      },
      windowWidth: window.innerWidth,
      moving: false
    }
  },
  methods: {
    move(number, event) {
      if (this.disabled === false) {
        this.moving = (number === 1) ? 'button1' : 'button2';
      } else {
          event.preventDefault();
      }
    },
    getOptionsForParam(param) {
      const keys = Object.keys(this.searchParams);
      const currentIndex = keys.indexOf(param);
      // If param is first in keys set of unique params
      if (currentIndex === 0) {
        return [...new Set(this.objects.map(item => item[param]))];
      }

      // if previous param is filled return current set of unique params
      if (this.searchParams[keys[currentIndex -1]] !== "") {
        return [...new Set(this.searchResult.filter(object => {
          return object[keys[currentIndex -1]] === this.searchParams[keys[currentIndex -1]];
        }).map(item => item[param]))];
      }

      return [];
    },
    emptyNextParams(param) {
      // Find current index in searchParams
      const keys = Object.keys(this.searchParams);
      const currentIndex = keys.indexOf(param);

      // loop through each param and empty value
      keys.forEach((key, index) => {
        if (index > currentIndex) {
          this.searchParams[key] = '';
        }
      })
    },
  },
  computed: {
    isMobile() {
      return this.windowWidth <= 1087;
    },
    searchResult() {
      return this.objects.filter(object => {
        let found = [];
        let bool = false
        Object.keys(this.searchParams).forEach(param => {
          if (this.searchParams[param] === "") return;
          found.push([object[param]].indexOf(this.searchParams[param]) > -1);
        });

        return found.every((bool) => bool === true);
      });
    },
    goToResult() {
      if (this.searchResult.length === 1) {
        return this.searchResult[0].url;
      }
      return '#';
    },
    disabled() {
      let empty = Object.keys(this.searchParams).filter(param => this.searchParams[param] === "");
      return empty.length > 0;
    }
  },
  mounted() {
    this.moving = false
    axios.get('/car/feed.json?type='+this.subject)
      .then(response => {
        this.objects = response.data
      });

      this.$nextTick(() => {
        window.addEventListener('resize', () => {
          this.windowWidth = window.innerWidth;
        })
      })
  },
  components: {
    SearchBox
  }
}
</script>