<div class="page-link">
  <a href="{{ link to="cars/{brand}{title|lower}{/brand}/{model|slugify}/{generation|slugify}/{type|slugify}"}}">
    {{ brand }} {{ title }} {{ /brand }} {{ model }} {{ generation }} {{ type }}
  </a>
</div>