<h1 class="title">{{ brand }} {{ model }} {{ generation }} {{ type }}</h1>
{{ if chiptuning_prices }}
<a href="{{ link to="/chiptuning/cars/{slug}" }}" class="button is-special is-outlined">Zie onze chiptuning mogelijkheden</a>
{{ /if }}
{{ if rinse_automatic_prices }}
<a href="{{ link to="/automaat-spoelen/cars/{slug}" }}" class="button is-special is-outlined">Zie onze automaat spoel mogelijkheden</a>
{{ /if }}
