{{ rich_content }}
  {{ if type == "text" }}
    <div class="text">
      {{ text }}
    </div>
  {{ elseif type == "simple_image" }}
    <figure>
      {{ asset:simple_image }}
        <img src="{{ url }}" alt="{{ alt }}">
        <figcaption>{{ alt }}</figcaption>
      {{ /asset:simple_image}}
    </figure>
  {{ elseif type == "simple_video" }}
    {{ if video | is_embeddable }}
      <figure class="video-container">
        <iframe width="640" height="360" src="{{ video | embed_url }}"></iframe>
      </figure>
    {{ else }}
      <figure class="video-container">
          <!-- Other HTML5 video types -->
          <video width="640" height="360" src="{{ video | embed_url }}"></video>
      </figure>
    {{ /if }}
  {{ elseif type == "pages"}}
    <nav class="pages-links">
      {{ relate:pages }}
        <div class="page-link">
            <a href="{{ url }}">{{ title }}</a>
        </div>
      {{ /relate:pages }}
    </nav>
  {{ elseif type == 'button_link' }}
    <a href="{{link | get:url }}" class="button is-special is-outlined">{{ button_text or link | get:title }}</a>
  {{ elseif type == "carousel" }}
      {{ partial:content/carousel :slides="slides" }}
  {{ elseif type == 'media_row' }}
    {{ partial:content/media_row :media="media_row" }}
  {{ elseif type == 'faq' }}
    {{ partial:content/faq }}
  {{ elseif type == 'brands' }}
    {{ partial:content/brands }}
  {{ elseif type == 'columns' }}
    {{ partial:content/columns }}
  {{ /if }}
{{ /rich_content }}