<div class="hero-wrapper">
    <section class="hero hero-footer is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ cta_title }}</h1>
          <h2 class="subtitle">{{ cta_subtitle }}</h2>
          {{ if cta_link }}
            <a href="{{ cta_link | get:url }}" class="button is-primary is-outlined is-inverted">{{ cta_text or read_more | get:title }}</a>
          {{ /if }}
        </div>
      </div>
      <figure class="hero-background">
        {{ if cta_img }}
            <!-- If hero image is set -->
          {{ asset:cta_img }}
              {{ partial:hero-image :url="url" :alt="alt" banner_size="is-medium" }}
          {{ /asset:cta_img }}
        {{ /if }}
      </figure>
    </section>
  </div>