<footer class="footer">
    <div class="container">
        <section class="section">
            <div class="columns is-desktop is-multiline divider">
                <div class="column is-full-touch is-narrow">
                    <a class="footer-logo" href="/">
                        <figure class="image">
                            <img src="{{ theme:img src="transtune.png" }}" alt="Transtune" />
                        </figure>
                    </a>
                </div>
                <div class="column is-full-touch">
                    <div class="columns is-desktop is-vcentered is-multiline">
                        <div class="column is-narrow-widescreen is-full-desktop">
                            <div class="columns">
                                <div class="column"><address class="address">{{ address }}</address></div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <span>ma t/m vrij; 9:00 tot 18:00 uur  |  za 9:00 tot 13:00 uur</span>
                                </div>
                            </div>
                        </div>
                        <div class="column fj-end-widescreen">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <div class="columns">
                                        <div class="column fj-end-widescreen">
                                            <a class="nav-item" href="mailto:{{ contact }}">{{ contact }}</a>
                                            <a class="nav-item" href="tel:{{ tel }}">{{ tel }}</a>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column fj-end-widescreen">
                                            <a class="nav-item" href="{{ link to="chiptuning" }}">Chiptuning</a>
                                            <a class="nav-item" href="{{ link to="automaat" }}">Transmissie</a>
                                            <a class="nav-item" href="{{ link to="specials" }}">Specials</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column bottom-footer is-7">
                            {{ nav from="/" menu:is="footer" }}
                                <a class="nav-item bottom-footer-item" href="{{ url }}">{{ tag:nav_title or title }}
                            {{ /nav }}
                        </div>
                        <div class="column bottom-footer fj-end-desktop">
                            <div class="icons">
                                {{ if facebook_url }}
                                <a class="nav-item" href="{{ facebook_url }}">
                                    <span class="icon is-medium">
                                        <svg>
                                            <use xlink:href="/site/themes/transtune/img/icons.svg#facebook" />
                                        </svg>
                                    </span>
                                </a>
                                {{ /if }}
                                {{ if instagram_url }}
                                <a class="nav-item" href="{{ instagram_url }}">
                                    <span class="icon is-medium">
                                        <svg>
                                            <use xlink:href="/site/themes/transtune/img/icons.svg#instagram" />
                                        </svg>
                                    </span>
                                </a>
                                {{ /if }}
                            </div>
                        </div>
                        <div class="column bottom-footer fj-end-desktop">
                            <iframe frameborder="0" allowtransparency="true" src="https://klantenvertellen.nl/widget/dtg/transtune_automotive/?color=dark" width="200" height="100"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>