<header class="hero-wrapper">
    <section class="hero is-primary {{ banner_size }} is-bold">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">{{ subtitle }}</h2>
          {{ if banner_size  }}
            <h1 class="title">{{ title }}</h1>
          {{ /if }}
          {{ if read_more }}
            <a href="{{ read_more | get:url }}" class="button is-primary">{{ button_text or read_more | get:title }}</a>
          {{ /if }}
        </div>
      </div>
      <figure class="hero-background">
        {{ if hero-img }}
            <!-- If hero image is set -->
          {{ asset:hero-img }}
              {{ partial:hero-image :url="url" :alt="alt" }}
          {{ /asset:hero-img }}
        {{ else }}
          <!-- Else take the global hero image -->
          {{ asset:global_hero }}
            {{ partial:hero-image :url="url" :alt="alt" }}
          {{ /asset:global_hero}}
        {{ /if }}
      </figure>
    </section>
  </header>