<picture>
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="768" width="768"}}" media="(min-width: 0em) and (max-width: 39.9999em)">
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="1024" width="768"}}" media="(min-width: 40em) and (max-width: 60em) and (orientation: portrait) ">
  <source style="object-position: {{ focus | background-position }}" srcset="{{ glide:url fit="crop_focal" height="768" width="1024"}}" media="(min-width: 40em) and (max-width: 60em) and (orientation: landscape) ">
  <img
  style="object-position: {{ focus | background-position }}"
  alt="{{ alt }}"
  {{ if banner_size === "is-fullheight" }}
    src="{{ glide:url fit="crop_focal" height="900" width="1530"}}"
  {{ elseif banner_size === "is-large" }}
    src="{{ glide:url fit="crop_focal" height="600" width="1530"}}"
  {{ elseif banner_size === "is-medium" }}
    src="{{ glide:url fit="crop_focal" height="150" width="1530"}}"
  {{ else }}
    src="{{ glide:url fit="crop_focal" height="350" width="1530"}}"
  {{ /if }}
  >
</picture>
