<ul class="locale-switcher">
  {{ if locales:count > 1 }}
  {{ locales }}
    <li class="locale{{ if current === locale:key }} is-active {{ /if }}">
      <a href="{{ url }}">{{ locale:key }}</a>
    </li>
  {{ /locales }}
  {{ /if }}
</ul>
