<nav class="navbar">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" id="logo" href="/">
                <img src="{{ theme:img src="transtune.png" }}" alt="Transtune" />
            </a>
            <div class="navbar-brand__end">
                <a class="navbar-item ml-auto is-hidden-desktop" href="tel:{{ tel }}">
                    <span class="icon is-medium">
                        <svg>
                            <use xlink:href="/site/themes/transtune/img/icons.svg#call" />
                        </svg>
                    </span>
                </a>
                <div class="navbar-burger burger" data-target="navbar-target">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="navbar-menu" id="navbar-target">
            <div class="navbar-end">
                <div class="navbar-top">
                    <div class="is-hidden-touch is-hidden-desktop-only mr-auto">{{ partial:locale }}</div>
                        {{ nav from="/" include_home="true" scope="tag" max_depth="2" menu:null="true" }}
                            <a class="
                                navbar-item
                                main-level
                                {{ if is_current or is_parent }} is-active{{ /if }}
                                {{ if children }} has-children{{ /if}}"
                                href="{{ url }}"
                                {{ if children}}
                                    data-target="{{slug}}"
                                {{ /if }}
                            >
                                {{ tag:nav_title or title }}
                            </a>
                    {{ /nav }}
                </div>
                <hr class="fade is-hidden-touch">
                <div class="navbar-bottom">
                    {{ nav from="/" max_depth="3" is_hidden:isnt="true" }}
                        {{ if depth == 1  && children }}
                            <div class="sub-menu {{ slug }} {{ if is_current || is_parent }}is-active{{ /if }}" data-parent="{{ slug }}">
                                <div class="navbar-item rollback is-hidden-desktop">
                                    <span class="icon is-medium t-180">
                                        <svg>
                                            <use xlink:href="/site/themes/transtune/img/icons.svg#circle-arrow" />
                                        </svg>
                                    </span>
                                    <span>{{ trans_choice:string.back }}</span>
                                </div>
                                <div class="nav-links">
                                    <a class="navbar-link is-arrowless {{ if is_current || is_parent }} is-active{{ /if }}" href="{{ url }}">
                                        {{ title }}
                                    </a>
                                    {{ *recursive children* }}
                                </div>
                            </div>
                        {{ elseif depth > 1 }}
                            {{ if children }}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link {{ if is_current || is_parent }} is-active{{ /if }}" href="{{ url }}">
                                        {{ title }}
                                    </a>
                                    <div class="navbar-dropdown">
                                        {{ *recursive children* }}
                                    </div>
                                </div>
                            {{ else }}
                                <a class="navbar-item{{ if is_current || is_parent }} is-active{{ /if }}" href="{{ url }}">
                                    {{ title }}
                                </a>
                            {{ /if }}
                        {{ /if }}
                    {{ /nav }}
                    <div class="sub-menu rest is-hidden-touch">
                        <div class="nav-links">
                            <a class="navbar-item fs-regular mr-auto" href="tel:{{ tel }}">
                                <span class="icon">
                                    <svg>
                                        <use xlink:href="/site/themes/transtune/img/icons.svg#call" />
                                    </svg>
                                </span>
                                <span>{{ tel }}</span>
                            </a>
                            <span class="navbar-item fs-regular">
                                {{ if date | is_weekday }}
                                    {{ weekday_text }}
                                {{ else }}
                                    {{ weekend_text }}
                                {{ /if }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-footer is-hidden-widescreen">
                <div>{{ partial:locale }}</div>
                <span>
                    {{ if date | is_weekday }}
                        {{ weekday_text }}
                    {{ else }}
                        {{ weekend_text }}
                    {{ /if }}
                </span>
            </div>
        </div>
    </div>
</nav>