<section class="split content">
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column">
            <section class="split-left">
              <h1 class="title">{{ left_title }}</h1>
              <p>{{ left_text }}</p>
              {{ if left_link }}
                <a href="{{ left_link | get:url }}" class="button is-special is-outlined">{{ button_text or left_link | get:title }}</a>
              {{ /if }}
            </section>
          </div>
          <div class="column">
            <section class="split-right">
              <h1 class="title">{{ right_title }}</h1>
              <p>{{ right_text }}</p>
              <nav class="pages-links">
                  {{ relate:right_pages }}
                    <div class="page-link">
                        <a href="{{ url }}">{{ title }}</a>
                    </div>
                  {{ /relate:right_pages }}
                </nav>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>