.button {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: $family-special;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  height: 2.88em;
  border-radius: 26px 0;

  &.is-medium {
    border-radius: 24px 0;
  }

  &.is-large {
    border-radius: 36px 0;
  }

  // Invert colors on hover
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name}:hover,.is-#{$name}.is-hovered {
      background-color: $color-invert;
      color: $color;
      border-color: $color;
    }
  }

  &.is-search {
    height: 100%;
    border-radius: 50px 0;
    padding-top: calc(1.375em - #{$button-border-width});
    padding-bottom: calc(1.375em - #{$button-border-width});
  }
}