.carousel {
  position: relative;
  .glide__slide {
    max-height: 900px;
    object-fit: contain;
  }

  .glide__arrow {
    border: none;
    box-shadow: none;
    &:hover svg {
      fill: $black;
    }
    svg {
      transition: fill 0.3s ease-in-out;
      fill: $primary;
    }
  }
}