.contact-form {
  background-color: $blue-light;
  padding: 0.75rem;

  .contact-section {
    display: flex;
    padding: 3rem;
    @include desktop() {
      padding-right: 6rem;
      justify-content: flex-end;
    }

    .pretty-form {
      max-width: 560px;
    }
  }

  #map {
    width: 100%;
    height: 100%;
    margin-right: -1.5rem;
    min-height: 300px;
  }
}