.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  height: 0;
  overflow: hidden;
}

.video-container.is-square {
  padding-bottom: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-style: italic;
  }
  h1 {
    font-size: $size-2;
    color: $primary;
  }
  h2 {
    font-size: $size-3;
  }

  p {
    margin: 1rem 0;
    word-break: break-word;
  }

  .full-height-image {
    height: 100%;
    object-fit: cover;
  }

  figure.image, figure.video-container {
    margin: 0;
  }

  blockquote p {
    font-size: $size-4;
    font-style: italic;
    font-weight: 500;
  }

  blockquote h1 {
    margin-bottom: 0;
  }

  .pages-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;

    .page-link {
      flex: 0 0 45%;
      position: relative;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 500;
      max-width: 45%;

      a {
        display: block;
        position: relative;
        padding-left: 2rem;
        height: 2rem;
        white-space: nowrap;
        line-height: 2rem;

        &::before {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 9px;
          width: 14px;
          height: 14px;
          border: 1px solid $primary;
          background: transparent;
          content: '';
          border-radius: 100%;
          box-shadow: 0 0 0 0px rgba(42, 122, 254, 0.4);
          transition: box-shadow 150ms ease-out;
        }

        &::after {
          display: inline-block;
          position: absolute;
          left: 1px;
          top: 10px;
          width: 12px;
          height: 12px;
          background: $primary;
          content: '';
          border-radius: 100%;
          opacity: 0;
          transform: scale(1.4);
          transition: opacity 150ms ease-out;
          box-shadow: 0 3px 7px 3px rgba(42, 122, 254, 0.4);
        }

        &:hover {
          &::after {
            transition-timing-function: ease-in;
            opacity: 1;
          }
          &::before {
            transition-timing-function: ease-in;
            transform: scale(1.4);
          }
        }


      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to right, rgba($primary,0.00) -10%, $primary 100%);
      }

      &.cars {
        width: 100%;

        .page-link {
          flex: 0 0 100%;
          max-width: none;
          flex-direction: column;
        }
      }
    }
    @include touch() {
      .page-link {
        flex: 0 0 100%;
        max-width: none;
      }
    }
  }

  .button {
    margin: 1rem 0;
  }
}