.vuedp-date-picker__calendar {
  .contact:not(.disabled) {
    background-color: $danger;
    color: $white;
  }

  .speed {
    background-color: $yellow;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.vuedp-date-picker__calendar {
  /** General **/
  .cell {
    width: percentage(1/7);
    text-align: center;
    line-height: 40px;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  /** Header controls **/
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 40px;

    button {
      display: inline-block;
      flex: 1 0 auto;
      background: #fff;
      padding: 00;
      border: none;
      outline: none;

      &:hover {
        background: #eee;
      }
    }

    .date-picker-nav__prev,
    .date-picker-nav__next {
      flex: 0 1 40px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 6px solid transparent;
      }
    }

    .date-picker-nav__prev::after {
      border-right: 10px solid #000;
      margin-left: -5px;
    }
    .date-picker-nav__next::after {
      border-left: 10px solid #000;
      margin-left: 5px;
    }
  }

  /** Weekdays **/
  .weekdays {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .cell {
      cursor: pointer;

      &:hover {
        border-color: #01a1ef;
      }
      &.prev-month,
      &.next-month {
        opacity: 0.55;
      }
      &.highlighted {
        background: lighten(#01a1ef, 20);
        color: #fff;
      }
      &.selected {
        background-color: $primary !important;
        color: #fff;
        border: 1px solid #58c8fe;
      }
      &.current {
        .day {
          border-bottom: 1px solid $primary;
        }
      }
      &.disabled {
        background-color: transparent !important;
        color: #dadada;
        cursor: default;

        &:hover {
          border-color: transparent;
        }
      }
      &.partial {
        .day {
          color: $danger;
        }
      }
      &.unavailable {
        .day {
          color: rgba($danger, .4);
        }
      }
    }
  }
}