#difference {
  min-height: 400px;
}

.difference-table {
  display: flex;
  flex-direction: column;
  position: relative;
  @include mobile() {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

.difference-row {
  display: flex;
  @include tablet() {
    justify-content: space-evenly;
  }
}

.difference-subject, .difference-value {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid rgba($blue-dark, 0.1);
  border-bottom: 1px solid rgba($blue-dark, 0.1);
  font-style: italic;
  @include mobile() {
    flex: 0 0 33%;
    min-width: 33%;
  }

  @include tablet() {
    font-size: $subtitle-size;
  }
  text-transform: uppercase;

  @include desktop() {
    padding: 2.5rem;
  }
}

.difference-subject {
  background-color: $grey-blue;
  color: $white;
  font-weight: $title-weight;
  border-left: 1px solid rgba($blue-dark, 0.1);

  .difference-small & {
    background-color: transparent;
    font-size: $size-5;
  }

  .difference-helper {
    font-size: $size-6;
    color: rgba($white, 0.5);
    text-transform: none;
    font-weight: 400;
    margin-left: 0.5rem;
  }
}

.difference-value {
  color: $grey-blue;
  font-weight: 300;
  justify-content: center;
}

.difference-labels {
  display: flex;
  position: relative;
  justify-content: flex-end;
  border-bottom: 1px solid rgba($blue-dark, 0.1);
}

.difference-label {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($primary, 0.4);
  font-weight: 500;
  padding: 0.5rem;
  @include mobile() {
    flex: 0 0 33%;
  }
  @include tablet() {
    text-transform: uppercase;
    font-size: $size-6;
  }
  @include desktop() {
    padding: 1.5rem;
  }
}

@include mobile() {
  .difference-new {
    display: none;
  }
}

.difference-small {
  width: 34rem;
  .difference-subject, .difference-value {
    padding: 0;
  }

  .difference-subject {
    flex: 0 0 50%;
  }

  .difference-row:first-child {
    .difference-subject, .difference-value:nth-child(2) {
      border-bottom: 1px solid rgba($white, 0.1);
      border-right: 1px solid rgba($white, 0.1);
    }
    .difference-value:nth-child(3) {
      border-bottom: 1px solid rgba($white, 0.1);
    }
  }

  .difference-row:nth-child(2) {
    .difference-subject, .difference-value:nth-child(2) {
      border-right: 1px solid rgba($white, 0.1);
    }
  }
}