.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;

  .feature {
    font-size: $size-5;
    width: 33%;
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;

    .icon {
      margin-right: 0.5rem;
      fill: $primary;
    }
  }
}