.footer {
  color: rgba($white, 0.4);
  background-color: $blue-dark;
  position: relative;
  z-index: 2;
  padding: 0;

  @include desktop() {
    padding: 2rem 2rem 0;
  }
  // line-height: $body-line-height * 1.17;

  .section {
    padding-bottom: 0;
  }

  .bottom-footer-item {
    color: currentColor;
    font-size: $size-8;
  }

  a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.68px;
  }

  .nav-item {
    padding: 0;
    @include touch() {
      width: 100%;
      display: block;
    }
  }



  @include desktop() {
    .nav-item {
      padding: 0 .8rem;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .bottom-footer {
    // margin-top: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  .icons {
    display: flex;
    flex-direction: row;
    @include touch() {
      justify-content: center;
      .nav-item {
        width: auto;
        padding: 0 .4rem;
      }
    }
  }

  .divider {
    position: relative;
    @include desktop-only() {
      padding-top: 0.8rem;
    }
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 5.5rem;
      z-index: -1;
      left: 0;
      background-image: linear-gradient(to right, rgba($primary,0.00) 0%, $primary 50%, rgba($primary, 0) 100%);
      @include desktop() {
        right: 0.75rem;
        left: initial;
        width: calc(100% - 3rem);
        background-image: linear-gradient(to right, rgba($primary,0.00) 10%, $primary 100%);
      }
    }
  }

  .footer-logo {
    display: flex;
    height: 121px;
    justify-content: center;
    margin-top: 1rem;

    // &::after {
    //   content: '';
    //   display: block;
    //   height: 1px;
    //   width: 100%;
    //   position: absolute;
    //   z-index: -1;
    //   left: 0;
    //   top: 2rem;
    //   background-image: linear-gradient(to right, rgba($primary,0.00) -10%, $primary 100%);
    // }

    .image img {
      max-height: 121px;
      height: 100%;
      width: auto;
    }
  }

  .address, .business-hours {
    font-style: initial;
    font-size: $size-5;
  }

  @include desktop() {
    .columns {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}