.form {
  margin-top: 3rem;
}

.field {
  padding-bottom: 20px;
  .is-horizontal.max-2 & {
    flex: 1 0 calc(50% - 0.75rem);
  }

  &.is-horizontal.max-2 {
    .field-body {
      flex-wrap: wrap;
    }
  }
}

.form-section {
  padding-top: 3rem;
}

.field.is-horizontal {
  .field-label {
    flex-grow: 1;
    text-align: left;
  }

  .field-body {
    flex-grow: 3;
    align-items: center;
  }
}

.label{
  color: rgba(89, 112, 149, .6);
}

@mixin placeholderStyle() {
  color: rgba(89, 112, 149, .3);
  font-size: 19px;
  letter-spacing: 2px;
  font-style: italic;
}

select.input {
  @include placeholderStyle();
}

.input, .textarea {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid rgba($input-border-color, .4);
  transition: border-bottom-color 0.4s ease-in-out;
  border-radius: 0;

  @include placeholder() {
    @include placeholderStyle();
    text-transform: uppercase;
  }

  &:hover,&.is-hovered {
    border-bottom-color: $primary;
  }

  &:focus,&.is-focused,&:active,&.is-active,&:focus,&.is-focused,&:active,&.is-active {
    box-shadow: none;
  }
}

.control.is-centered {
  text-align: center;
}

.control.is-right {
  text-align: right;
}

.send {
  margin-top: 3rem;
}

.radio [type=checkbox]{
    border: 1px solid rgba($primary, 0.4);
    background-color: $white;
}

.checkbox.transtune {
  display: flex;
  align-items: center;
    .icon {
      width: 26px;
      height: 26px;
      border: 1px solid rgba($primary, 0.4);
      background-color: $white;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;

      > svg {
        visibility: hidden;
      }
    }

  input[type=checkbox] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input[type=checkbox]:checked + .icon {
      visibility: visible;
      fill: #fff;
      background-color: $primary;

      > svg {
        visibility: visible;
      }
  }
  input[type=radio]{
    border: 1px solid rgba($primary, 0.4);
    background-color: $white;
  }
}

@include touch() {
  .radio {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      display: block;
  }
}