svg {
  height: 100%;
}

// FAQ
.toggle {
  &:last-child {
    border-bottom: 1px solid $primary;
  }

  .toggle-title {
    padding: 0.75em 1.25em;
  }

  &.is-active .toggle-body {
    max-height: 50em;
  }

  .toggle-body {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s;

    p {
      margin: 0;
      padding:0 1.25em 1em;
    }
  }
}