.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-auto {
  margin-right: auto;
}

.duration-2s {
  animation-duration: 2s;
}

.ml-auto {
  margin-left: auto;
}

.fs-regular {
  font-size: $body-size;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.is-fixed-bottom-m {
  @include mobile() {
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    position: fixed;
  }
}

.plr-15-m {
  @include mobile() {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.ac-rounded-image {
  border-radius: 100%;
  overflow: hidden;
}

.is-clipped {
  position:fixed; // that's it
  overflow:hidden !important;
}

.c-bsp-blue {
  color: #4C93CE !important;
}

.c-special {
  color: $special;
}

.t-180 {
  transform: rotate(180deg);
}

.fa-end {
  display: flex;
  align-items: flex-end;
}

.tt-uppercase {
  text-transform: uppercase;
}

.fj-end {
  display: flex;
  justify-content: flex-end;
}

.fj-end-desktop {
  @include desktop() {
    display: flex;
    justify-content: flex-end;
  }
}

.f-column {
  display: flex;
  flex-direction: column;
}

@include widescreen() {
  .column.is-narrow-widescreen {
    width: auto;
  }
}

.fj-end-widescreen {
  @include widescreen() {
    display: flex;
    justify-content: flex-end;
  }
}

.fs-normal {
  font-style: normal;
}

hr.fade {
  margin: 0;
  background-color: transparent;
  background-image: linear-gradient(to left, $primary 0%, transparent 100%);
}

.bg-blue__light, .blue-background {
  background-color: $blue-light;
}