.hero-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero {
  &.is-primary.is-bold {
    background-image: linear-gradient(to top, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
    background-color: transparent;
  }

  &.hero-footer.is-bold {
    background-image: linear-gradient(to top right, rgba($primary, 1) 0%, rgba($primary, 0.8) 100%);
    background-color: transparent;

    .title, .subtitle, a {
      color: #fff;
    }
  }

  .hero-body {
    min-height: 13.75rem;
  }

  &.is-info.is-bold {
    background-image: linear-gradient(45deg, rgba($blue-dark, 0.8) 0%, rgba($primary, 0.8) 100%);
  }

  .title {
    font-size: $size-1;
    text-transform: none;

    @include mobile() {
      font-size: $size-2;
      margin-bottom: 2rem;
    }
  }

  .subtitle {
    text-transform: uppercase;
    font-size: $size-4;
  }

  .hero-background {
    position: absolute;
    z-index: -1;
    right: 0;
    display: flex;
    // opacity: 0;
    align-items: center;
    max-height: 100%;
    height: 100%;
    width: 100%;
    // animation-name: showsection;
    // animation-duration: 2s;
    // animation-delay: 1s;
    // animation-fill-mode: forwards;

    picture, img {
      filter: grayscale(100%);
      height: 100%;
      object-fit: cover;
      min-width: 110%;
    }
  }
}

// Mobile menu
@include until($desktop) {
  .hero {
    .button {
      display: none;
    }
  }
  .hero .hero-body {
    min-height: 22.5rem;
    display: flex;

    .container {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      padding-bottom: 2rem;
    }
  }
}