.home-slider {
  height: calc(100vh - 130px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(10, 10, 10, 0.8) 0%, rgba(10, 10, 10, 0) 70%);
  position: relative;

  .progress {
    background-color: rgba(255, 255, 255, 0.2);
    color: $primary;
    height: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-progress-bar {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &::-webkit-progress-value {
      background-color:$primary;
    }
    &::-moz-progress-bar {
      background-color: $primary;
    }
    &::-ms-fill {
      background-color: $primary;
      border: none;
    }
  }
}

.glide__subtitle {
  color: $white;
  text-transform: uppercase;
  font-size: $size-5;
  font-weight: 500;
  margin-bottom: 1rem;
}

.glide__title {
  color: $white;
  text-transform: uppercase;
  font-style: italic;
  font-size: $size-2;
  font-weight: 700;
}

#home__glide {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;

  iframe, video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .glide__slide, .glide__track, .glide__slides {
    height: 100%;
  }

  .glide__slide picture, .glide__slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.glide__content {
  z-index: 2;
  position: relative;
  width: 320px;
  height: 200px;
  display: flex;
  align-content: center;
  justify-content: center;

  .glide__item {
    position: absolute;
    width: 220px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 400ms ease-in-out;
  }

  .glide__item.is-active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  @include desktop() {
      max-width: 1200px;
      width: 1200px;
      justify-content: space-between;

    .glide__item {
      position: relative;
      width: 300px;
      visibility: visible;
      opacity: 1;
      transform: none;
      transition: none;

      .progress {
        &::-webkit-progress-value, &::-moz-progress-bar {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      .glide__subtitle,.glide__title {
        transition: color 400ms ease-in;
        color: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        .glide__subtitle,.glide__title {
          color: $white;
        }
      }
    }

    .glide__item.is-active {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;

      .progress {
        &::-webkit-progress-value, &::-moz-progress-bar {
          background-color: $primary;
        }
      }

      .glide__subtitle,.glide__title {
        color: $white;
      }
    }
  }
}