.locale-switcher {
  display: flex;

  .locale {
    text-transform: uppercase;
    padding: 0 0.35rem;

    &.is-active a {
      color: #fff;
    }

    a {
      color: rgba($white, 0.4);
    }
  }
}