.suppliers-map, .contact-map {
  height: 750px;
  display: flex;
  align-items: flex-end;
  margin-bottom: -100px;
}

.suppliers-wrapper, .contact-map-wrapper {
  flex: 1 0 50%;
  background-color: $primarys;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  align-items: flex-end;

  & h1, & ul {
    width: 20rem;
  }
}

.suppliers {
  display: flex;
  flex-wrap: wrap;

  .supplier {
    width: 100%;
    margin-bottom: 1rem;
  }

  .supplier-name {
    font-weight: 700;
    font-size: $size-3;
  }

  .supplier-link {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($black, 0.05);
  }
}

#map {
  height: 750px;
  flex: 1 0 50%;
}
@include mobile() {
  .suppliers-map {
    display: none;
  }
}