.navbar {
  font-weight: 500;
  font-family: $family-special;
  letter-spacing: $letter-spacing;
  color: $link;
  transition: top 0.5s cubic-bezier(.65, .05, .36, 1);
  position: relative;
  z-index: 1000;

  @include until($navbar-breakpoint) {
    background-color: transparent;
  }
}

#logo {
  font-weight: 600;
  font-style: italic;
  padding-top: 1rem;

  img,figure {
    height: 150px;
    max-height: 150px;
    margin-bottom: -3rem;
    // width: auto;
    // max-width: 300px;

    @include until($desktop) {
      #word-mark {
        display: none;
      }
    }
  }
}

.navbar .icon {
  fill: #fff;
}

.rollback {
  display: flex;
  align-items: center;

  &> .icon:not(:last-child) {
    margin-left: -.25em;
    margin-right: .25em;
  }
}

.navbar-brand {
  padding: 0 1rem;
}

.navbar-item, .navbar-link {
  text-transform: uppercase;
  letter-spacing: 1.89px;
  font-size: $size-5;
  padding: 0.5rem 0.9375rem;
}

// Mobile menu
@include until($navbar-breakpoint) {
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 9999;

    .container.is-fluid {
      width: auto;
    }
  }

  .navbar-item img {
    max-height: 3.1rem;
  }

  #logo {
    font-weight: 600;
    font-style: italic;
    padding-top: 0rem;
    position: relative;
    z-index: 1;

    img,figure {
      max-height: 6rem;
    }
  }

  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: flex-start;
  }

  .navbar-brand__end {
    display: flex;
    margin-left: auto;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, $primary 0%, darken($primary, 20%) 100%);
    border-radius: 26px 0;

    .navbar-burger {
      width: 3.75rem;
      background-color: $primary;
      border-radius: 26px 0;
      z-index: 1000;
      height: 3.75rem;
    }

    .navbar-item {
      width: 3.75rem;
      height: 3.75rem;
    }
  }

  .navbar-burger span {
    left: initial;
    margin-right: -10px;
    margin-left: initial;
    right: 50%;
    width: 21px;
    height: 2px;
    background-color: $white;
    transition-property: background-color, left, opacity, transform, width;
    transition-duration: 0.3s;
    //transition-delay: 0.3s;
    border-radius: 1px;

    &:nth-child(1) {
      width: 15px;
    }

    &:nth-child(3) {
      width: 12px;
    }
  }

  .navbar-burger.is-active span {
    width: 21px;
  }

  .navbar-menu {
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0rem;
    left: 0;
    padding: 0 1rem;
    padding-top: 11rem;
    transform: translateX(100%);
    transition: transform .65s;
    transition-timing-function: cubic-bezier(.91, .01, .6, .99);

    @media screen and (orientation: landscape) and (max-height: 568px) {
      padding-top: 2rem;

      .navbar-end {
        width: 60%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }

      .navbar-footer {
        align-items: initial;
        bottom: initial;
        left: 20px;
      }

      .sub-menu {
        padding-top: 0;
        max-height: 90vh;
        width: 50%;
        left: calc(50% - 25%);
        top: 2rem;

        .nav-links {
          max-height: calc(100vh - 10rem);
        }

        &.slide-out::before {
          top: 4rem;
        }
      }
    }

    &.is-active {
      transform: translate(0);
    }
  }

  .navbar > .container, .navbar-brand, .navbar {
    min-height: 4rem;
  }

  html.has-navbar-fixed-top, body.has-navbar-fixed-top {
    padding-top: 4rem;
  }

  a.navbar-item, a.navbar-link, .navbar-link, .navbar-item {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    color: $white;
    line-height: 2;

    &:hover, .is-hovered {
      color: $white;
    }
  }

  .rollback {
    padding-bottom: 2rem;
  }

  html.is-expanded, html.is-expanded body {
    overflow: hidden;
    position: fixed;
    width: 100vw;
  }

  .navbar-footer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    left: 0;
    bottom: 50px;
    z-index: 999;
  }
  .sub-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    padding-top: 8rem;
    transform: translateX(100vw);
    transition: transform 0.5s cubic-bezier(.65, .05, .36, 1);
    width: 100%;
  }

  .sub-menu .nav-links{
    max-height: calc(100vh - 22rem);
    overflow-y: scroll;
    background:
      /* Shadow covers */
      linear-gradient($navbar-background-color 30%, rgba($navbar-background-color,0) 100%),
      linear-gradient(rgba($navbar-background-color,0), $navbar-background-color 70%) 0 100%,

      /* Shadows */
      radial-gradient(farthest-side at 50% 0, rgba($primary,10), rgba($primary,0)),
      radial-gradient(farthest-side at 50% 100%, rgba($primary,10), rgba($primary,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
  }

  .sub-menu.slide-out {
    transform: translateX(0);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      left: 0;
      background-image: linear-gradient($navbar-background-color 0%, rgba($navbar-background-color, 30%) 100%);
      top: 199px;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 10px;
      left: 0;
      background-image: linear-gradient(to top, $navbar-background-color 0, rgba($navbar-background-color, 30%) 100%);
      bottom: 0;
      z-index: 1;
    }
  }

  .main-level {
    transition: transform 0.5s cubic-bezier(.65, .05, .36, 1);
  }

  .has-children .main-level {
    transform: translateX(-100vw);
  }
}

.sub-menu .navbar-item , .sub-menu .navbar-link{
  font-size: $size-6;
}

// Full menu
@include from($navbar-breakpoint) {
  .navbar-end {
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin-right: calc(-#{$gap} + 0.75rem);
    width: 100%;
  }

  .navbar-top,.navbar-bottom {
    display: flex;
    align-items: center;
    height: 50%;
    padding-right: 2 * $gap;
    padding-left: 1rem;
  }

  .nav-links {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-bottom {
    background-color: $blue-dark;
    justify-content: flex-start;
    padding-left: 0;
    border-top-left-radius: 35px;
  }

  .sub-menu {
    display: none;
    width: 100%;

    .nav-links > .navbar-item:first-child {
      padding-left: 1rem;

      .navbar-dropdown {
        padding-left: 1rem;
      }
    }

    &.rest {
      display: block;
    }

    &.is-active {
      display: block;

      & ~ .rest {
        display: none;
      }
    }
  }
}
