.view {
  padding: 2rem 0;

  @include tablet() {
    padding: 4rem 0;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 90px;

  @include touch() {
    overflow: hidden;
  }

  .step {
    cursor: pointer;
    padding: 1.5rem 0;
    font-size: $size-5;
    color: rgba($primary, 0.4);
    letter-spacing: 1.4px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    @include mobile() {
      position: absolute;
      transform: translateX(150%);
      width: 100%;
    }

    &.is-active {
      border-bottom: 3px solid $primary;
      color: $primary;
      @include mobile() {
        transform: translateX(0%);
      }
    }

    &.is-past {
      @include mobile() {
        transform: translateX(-100%);
      }
    }
  }
}

.step-number {
  border: 2px solid rgba($primary, 0.4);
  border-radius: 500px;
  width: 42px;
  height: 42px;
  color: $primary;
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;

  .is-active & {
    background-color: $primary;
    color: $white;
    box-shadow: 3px 2px 38px 1px rgba(42, 122, 254, 0.4)
  }
}

.activity-labels {
  display: flex;
  justify-content: space-between;
  color: rgba($primary, 0.4);
  text-transform: uppercase;
  font-size: $size-4;
  font-weight: 500;
  height: $size-1;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  position: relative;

  &.price-summary {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $size-5;
  font-weight: 500;
  height: $size-1;
  position: relative;

  @include touch() {
    white-space: nowrap;

    .activity-price {
      width: 4rem;
    }

    .activity-text {
      max-width: calc(100% - (30px + 1rem));
      position: relative;
      overflow: hidden;
      width: 100%;
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 6rem;
        right: 0;
        top: 0;
        background-image: linear-gradient(to right, rgba($blue-light, 0) 0%, rgba($blue-light, 1) 80%);
      }
    }

    .activity-title {
      justify-content: flex-start;
      width: 100%;
      max-width: calc(100% - 4rem);
    }
  }

  &::after {
    content: '';
    background-image: linear-gradient(to left, $primary 0%, transparent 100%);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .activity-title {
    display: flex;
    justify-content: center;
    color: $primary;
  }

  .activity-checkbox {
    width: 26px;
    height: 26px;
    border: 1px solid rgba($primary, 0.4);
    background-color: $white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  input[type=checkbox] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &.is-selected {
    .activity-title {
      font-weight: 700;
    }

    .activity-checkbox {
      background-color: $primary;
      fill: $white;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  &.is-disabled {
    color: rgba($primary, 0.4);

    .activity-title {
      color: currentColor;
    }

    .activity-checkbox {
      background-color: rgba($primary, 0.4);
    }
  }
}

.view-step {
  margin-bottom: 2rem;
}

.total-price {
  font-size: $size-4;
  color: $primary;
  font-weight: 700;
  font-style: italic;
}

.planner {
  font-size: $size-4;
  text-transform: uppercase;
  color: $primary;
  font-weight: 500;
  margin-top: 3rem;

  .days {
    border-radius: 10px;
    border: 1px solid $primary;
    @include touch() {
      padding: 1rem;
    }
    padding: 2rem;
  }

  .cell:not(.weekday) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .day {
    width: 52px;
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
  }

  .weekdays {
    @include touch() {
      padding: 0 1rem 0;
    }
    padding: 0 2rem 0;
    color: rgba($primary, 0.4);
  }

  .vuedp-date-picker__calendar header .button{
    font-size: $size-4;
    background-color: transparent;
    pointer-events: none;
    color: rgba($primary, 0.4);
  }

  .vuedp-date-picker__calendar header .date-picker-nav__next,
  .vuedp-date-picker__calendar header .date-picker-nav__prev {
    background-color: transparent;
    cursor: pointer;
  }

  .vuedp-date-picker__calendar header .date-picker-nav__next::after {
    border-left-color: $primary;
  }

  .vuedp-date-picker__calendar header .date-picker-nav__prev::after {
    border-right-color: $primary;
  }

  .date-picker-nav__next {
    margin-left: -40px;
  }

  .date-picker-nav__prev {
    margin-right: -40px;
  }
}

.activator {
  @include tablet() {
    padding: 0 4rem;
  }
}

.overview {
  margin: 3rem;

  .overview-wrapper {
    padding: 2.8rem 2.5rem;
    background-color: rgba($primary, 0.05);
    text-transform: uppercase;
    position: relative;

    &:nth-child(2) {
      &::before, &::after {
        content: '';
        display: block;
        width: 1px;
        position: absolute;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to bottom, transparent 0%, $primary 50%, transparent 100%);
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }

    a {
      font-weight: 700;
    }
  }
}
.overview-item {
  font-size: $size-7;
  font-weight: 500;
  color: rgba($grey-blue, 0.8);
  font-style: normal;
}
.overview-title {
  font-size: $size-5;
  color: $grey-blue;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}