#selector {
  margin-top: -50px;
  padding-top: 0;
  z-index: 999;
  position: relative;

  @include touch() {
    .button.is-search {
      width: 100%;
      padding-top: calc(1em - 2px);
      padding-bottom: calc(1em - 2px);
    }
  }
}

.searches {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 22px 38px -13px rgba(42, 122, 254, 0.4);
  border-radius: 40px 0;
  padding: 10px;
  padding-left: 36px;
  min-height: 6rem;

  @include mobile() {
    padding: 0.75rem 2rem;
    .control {
      display: flex;
      flex-direction: column;

      .button:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  @include tablet-only() {
    padding: 0.75rem 2rem;

    .field-body {
      flex-wrap: wrap;
    }

    .control {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      flex-wrap: wrap;
      justify-content: space-between;

      .button {
        flex: 0 0 40%;
      }
    }
  }

  .field {
    margin-top: 0;
    padding-bottom: 0;
    flex: 1;
  }

  .field-body {
    align-items: center;
  }
}

.selector-search-box {
  position: relative;

  &::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    border-color: $primary;
    position: absolute;
    right: 1.15rem;
    height: 0.75em;
    vertical-align: top;
    width: 0.75em;
    top: 0.5em;
    transform: rotate(135deg);
    pointer-events: none;
    z-index: 2;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 6rem;
    right: 0;
    z-index: 1;
    pointer-events: none;
    top: 0;
    background-image: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 80%);
  }
}

.selector-search-results {
  position: absolute;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 22px 38px -13px rgba(42, 122, 254, 0.4);

  li {
    color: rgba($text, 0.6);
    cursor: pointer;

    &:hover {
      color: $special;
    }
    // padding: 0.5rem 0;
    // border-bottom: 1px solid rgba($text, 0.6);
  }
}
@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
  font-size: 2em;
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}