.split {
  position: relative;
  color: #747987;
  line-height: 2rem;

  @include tablet() {
    padding-top: 3rem;
  }

  @include mobile() {
    .split-left {
      position: relative;
      &::before {
        content: '';
        width: calc(100% + 3rem);
        position: absolute;
        background-color: $grey-lightest;
        height: calc(100% + 6rem);
        left: -1.5rem;
        top: -1.5rem;
        z-index: -1;
      }
    }

    .split-right {
      position: relative;
      &::before {
        content: '';
        width: calc(100% + 3rem);
        position: absolute;
        background-color: $blue-dark;
        height: calc(100% + 6rem);
        left: -1.5rem;
        top: -1.5rem;
        z-index: -1;
      }
    }
  }

  @include tablet() {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $grey-lightest;
      z-index: -1;
      width: 50%;
      height: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      background-color: $blue-dark;
      z-index: -1;
      top: 0;
      width: 50%;
      height: 100%;
    }
  }

  .title {
    font-size: $size-3;
  }

  .split-left {
    p {
      padding-bottom: 2rem;
      position: relative;
      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to right, rgba($primary,0.00) -10%, $primary 100%);
      }
    }
  }

  .split-right {
    .title {
      color: $white;
    }

    .pages-links {
      .page-link {
        flex: 0 0 100%;
        padding-bottom: 0.5rem;
        a {
          &:hover {
            color: $white;
          }
          &::after {
            background-color: $white;
          }
          &::before {
            border-color: $white;
          }
        }
      }
    }
  }

  @include tablet(){
    .split-left {
      padding-right: 6rem;
    }
    .split-right {
      padding-left: 6rem;
    }
  }
}