// Table
.stages {
  position: relative;
  min-width: 800px;
  overflow-x: scroll;

  .stage-head, .stage-value {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stage-value {
    height: 5rem;
    text-align: center;
      use + use {
        display: none;
      }
  }

  .stage-option {
    color: $primary;
    padding: 0;
    &:not(.stage__empty) {
      position: relative;
      transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1), color 400ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      &:not(:last-child)::after {
        content: '';
        background-image: linear-gradient(to top, $primary 0%, transparent 100%);
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        background-color: $primary;
        color: $white;
        box-shadow: 0 22px 38px 0px rgba(42, 122, 254, 0.4);

        .stage-check {
          background-color: $primary;
        }
        .option__succes {
          fill: $white;
        }

        .option__fail {
          fill: rgba($white, 0.4);
        }
      }
    }
  }

  .stage-item {
    justify-content: flex-start;
    font-size: $size-5;
    font-style: italic;
    font-weight: 500;
    color: $text;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      background-image: linear-gradient(to left, $primary 0%, transparent 100%);
      width: 100%;
      height: 1px;
      position: absolute;
      width: 100vw;
      max-width: calc(960px + (.75rem * 2));
      @include widescreen() {
        max-width: calc(1152px + (.75rem * 2));
      }
      @include fullhd() {
        max-width: calc(1200px + (.75rem * 2));
      }
      bottom: 0;
      z-index: 1;
    }
  }

  .stage-check {
    transition: background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1), color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: $white;
  }

  .stage-title {
    text-align: center;
    text-transform: uppercase;
    color: currentColor;
    font-size: $size-3;
  }

  .option__succes {
    fill: $primary;
  }

  .option__fail {
    fill: $danger;
  }
}

.stages-mobile {
  .stage {
    border: 1px solid $primary;
    margin: 2rem 0;
    padding: 2rem;
    display: block;
    user-select: none;
    border-radius: 26px 0;

    .button {
     margin-top: 1rem;
    }

    .subtitle {
      margin-bottom: 0.5rem;

      input[type="radio"] {
        margin-right: 0.4rem;
      }
    }
  }
}