.table, table {
  font-size: 16px;
  font-weight: 300;
  max-width: 800px;

  @include mobile() {
    display: block;
    overflow-x: auto;
  }
}

.content table td {
  border-bottom: $table-cell-border;
}