.member {
  .profile-picture {
    clip-path: url('#member');
    width: 240px;
    height: 205px;
  }

  .member-name {
    text-transform: uppercase;
    font-size: $size-4;
    color: $primary;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .member-job {
    max-width: 15rem;
  }
}