.title {
  font-style: italic;
  text-transform: uppercase;

  @include mobile() {
    font-size: $size-4;
  }
}
.subtitle {
  letter-spacing: 0.52px;

  @include mobile() {
    font-size: $size-5;
  }
}