@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$navbar-breakpoint: $widescreen;
// 2. Set your own initial variables
// Update blue
$blue: #2A7AFE;
$blue-light: #F4F8FF;
$blue-dark: #182138;

$grey-lightest: #F3F3F3;
$grey-light: #f6f5f4;
$grey-lighter: #F8F7F6;
$grey: #4A4A4A;
$grey-darker: #262525;
$grey-darkest: #000;

$grey-blue: #597095;

$orange: #CF6500;

$fullhd: 1200px + (2 * $gap);
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;
$family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$family-special: $family-sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;

$secondary: $grey-darker;
$secondaryInvert: #fff;

$info: $blue-dark;

$link: $blue;
$link-hover: $orange;

// Title sizes
$size-1: 	3rem;  // 48
$size-2: 	2rem;    // 32
$size-3: 	1.75rem; // 24
$size-4:  1.25rem; // 20
$size-5: 	1.125rem; // 18
$size-6: 	1rem;    // (16);
$size-7: 	0.88rem; // 16
$size-8:  0.75rem;

// Button Variables
$button-border-color: hsl(0, 0%, 29%);
$button-border-width: 2px;
$button-hover-color: $primary;

// Card Variables
$card-shadow: none;

// Navbar variables
$navbar-height: 8.125rem;
$navbar-item-img-max-height: 4rem;
$navbar-item-color: $white;

$navbar-background-color: #242D44;

$navbar-item-active-color: $link;
$navbar-item-hover-color: $orange;

//* Dropdown **/
$navbar-dropdown-background-color: $blue-dark;
$navbar-dropdown-item-active-color: $link;

$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-hover-color: $orange;
$navbar-dropdown-item-active-color: $orange;

$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-border-top: none;

// Table Variables
$table-cell-border: none;
$table-cell-padding: 1.05em 2em;
$table-background-color: transparent;


// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family

// Content
$family-primary: $family-sans-serif;

$body-size: 16px;
$body-weight: 300;
$body-line-height: 1.8rem;

$content-heading-weight: 800;
$content-blockquote-background-color: $grey-light;

$letter-spacing: 1.5px;

$title-color: $blue;
$title-weight: 800;
$title-size: $size-2;
$subtitle-color: rgba($blue, 0.6);
$subtitle-weight: 500;
$subtitle-size: $size-4;
$subtitle-negative-margin: -1rem;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$special: $orange;
$special-invert: findColorInvert($orange);
$green: #7ED321;
$green-invert: findColorInvert($green);

// 5. Forms
$input-color: $grey;
$label-weight: 400;
$input-color: $primary;
$input-border-color: $primary;

// Box
$box-background-color: $white;
$box-color: $secondary;

// Generic
$background: $blue;
$border: $primary;

$light-border: 1px solid rgba(0,0,0, 0.05);

// Tag
$tag-color: $primary;
$tag-background-color: transparent;
$tag-radius: 0;