@import "variables";

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables.sass";

$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert),
        "secondary": ($secondary, $secondaryInvert),
        "special": ($special, $special-invert),
        "green": ($green, $green-invert),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
//@import "~bulma";
@import "~bulma/sass/utilities/animations";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";

//@import "~bulma/sass/base/_all";
@import "minireset";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/base/helpers.sass";

@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/progress";
@import "~bulma/sass/elements/notification";

// @import "~bulma/sass/components/card";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/components/level";
@import "~bulma/sass/components/menu";
// @import "~bulma/sass/components/modal";
@import "~bulma/sass/components/navbar";
// @import "~bulma/sass/components/pagination";


@import "~bulma/sass/grid/columns";

@import "~bulma/sass/layout/_all";

@import "~animate.css";

@import "general";
@import "titles";
@import "navbar";
@import 'hero';
@import "footer";
@import "buttons";
@import "forms";
@import "content";
@import "helpers";
@import "locale";
@import "selector";
@import "features";
// @import "stages";
@import "quotation";
@import "difference";
@import "split";
@import "home";
@import "contact";
@import "team";
@import "datepicker";
@import "carousel";

/** GLIDE **/
// Required Core Stylesheet
@import "~@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "~@glidejs/glide/src/assets/sass/glide.theme";

/** GLIDE **/
// @import "map";
// @import "tag";
// @import "table";
// @import "cta";
// @import "icons";

//html,body {
//  font-size: $base-size-mobile;
//  max-width: 100vw;
//  overflow-x: hidden;
//
//  @include tablet() {
//    font-size: $base-size-tablet;
//  }
//}