<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,600i,800i" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ theme:img src="favicon/apple-icon-57x57.png" }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ theme:img src="favicon/apple-icon-60x60.png" }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ theme:img src="favicon/apple-icon-72x72.png" }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ theme:img src="favicon/apple-icon-76x76.png" }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ theme:img src="favicon/apple-icon-114x114.png" }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ theme:img src="favicon/apple-icon-120x120.png" }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ theme:img src="favicon/apple-icon-144x144.png" }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ theme:img src="favicon/apple-icon-152x152.png" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme:img src="favicon/apple-icon-180x180.png" }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ theme:img src="favicon/android-icon-192x192.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme:img src="favicon/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ theme:img src="favicon/favicon-96x96.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme:img src="favicon/favicon-16x16.png" }}">
    <link rel="manifest" href="{{ theme:asset src="img/favicon/manifest.json" }}">
    <meta name="msapplication-TileColor" content="#2A7AFE">
    <meta name="msapplication-TileImage" content="{{ theme:img src="favicon/ms-icon-144x144.png" }}">
    <meta name="theme-color" content="#2A7AFE">
    <meta name="google-site-verification" content="MHzKWdVr308GwQpF0d9ohxXr5tuehlU9c_qKh8fwzfk" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5CKSGBQ');</script>
        <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="{{ mix:css }}">
    {{ styles }}
    {{ yield:meta }}
        {{ seo_pro:meta }}
    {{ /yield:meta}}
    <script>
        window.ACwebsiteLocale = "{{ locale }}";
    </script>
    <!-- Website door Paul van de Laar - Mark op 't  Hoog -->
</head>

<body class="section-{{ segment_1 or "home" }}">
    {{ partial:nav }}

    {{ template_content }}

    {{ yield:quoteOptions }}

    {{ if has_cta }}
        {{ partial:cta }}
    {{ /if }}
    {{ partial:footer }}
    <script>
        var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3, i:999},insecure:true,api:2019.05 };
        function $buo_f(){
         var e = document.createElement("script");
         e.src = "//browser-update.org/update.min.js";
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="{{ mix:js }}"></script>
    {{ yield:page_scripts }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CKSGBQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<script 
src="https://armytrix-europe.com/external/plugin.min.js"></script>

<script>iFrameResize({checkOrigin: false}, '#armytrixFrame');</script>
</body>
</html>
